/*! minions.css */
.m-1{margin:7px}
.m-2{margin:14px}
.m-3{margin:28px}
.m-4{margin:56px}
.my-1{margin-top:7px;margin-bottom:7px}
.my-2{margin-top:14px;margin-bottom:14px}
.my-3{margin-top:28px;margin-bottom:28px}
.my-4{margin-top:56px;margin-bottom:56px}
.mx-1{margin-right:7px;margin-left:7px}
.mx-2{margin-right:14px;margin-left:14px}
.mx-3{margin-right:28px;margin-left:28px}
.mx-4{margin-right:56px;margin-left:56px}
.mt-1{margin-top:7px}
.mt-2{margin-top:14px}
.mt-3{margin-top:28px}
.mt-4{margin-top:56px}
.mr-1{margin-right:7px}
.mr-2{margin-right:14px}
.mr-3{margin-right:28px}
.mr-4{margin-right:56px}
.mb-1{margin-bottom:7px}
.mb-2{margin-bottom:14px}
.mb-3{margin-bottom:28px}
.mb-4{margin-bottom:56px}
.ml-1{margin-left:7px}
.ml-2{margin-left:14px}
.ml-3{margin-left:28px}
.ml-4{margin-left:56px}
.p-1{padding:7px}
.p-2{padding:14px}
.p-3{padding:28px}
.p-4{padding:56px}
.py-1{padding-top:7px;padding-bottom:7px}
.py-2{padding-top:14px;padding-bottom:14px}
.py-3{padding-top:28px;padding-bottom:28px}
.py-4{padding-top:56px;padding-bottom:56px}
.px-1{padding-right:7px;padding-left:7px}
.px-2{padding-right:14px;padding-left:14px}
.px-3{padding-right:28px;padding-left:28px}
.px-4{padding-right:56px;padding-left:56px}
.pt-1{padding-top:7px}
.pt-2{padding-top:14px}
.pt-3{padding-top:28px}
.pt-4{padding-top:56px}
.pr-1{padding-right:7px}
.pr-2{padding-right:14px}
.pr-3{padding-right:28px}
.pr-4{padding-right:56px}
.pb-1{padding-bottom:7px}
.pb-2{padding-bottom:14px}
.pb-3{padding-bottom:28px}
.pb-4{padding-bottom:56px}
.pl-1{padding-left:7px}
.pl-2{padding-left:14px}
.pl-3{padding-left:28px}
.pl-4{padding-left:56px}
.t-1{top:7px}
.t-2{top:14px}
.t-3{top:28px}
.t-4{top:56px}
.r-1{right:7px}
.r-2{right:14px}
.r-3{right:28px}
.r-4{right:56px}
.b-1{bottom:7px}
.b-2{bottom:14px}
.b-3{bottom:28px}
.b-4{bottom:56px}
.l-1{left:7px}
.l-2{left:14px}
.l-3{left:28px}
.l-4{left:56px}
