/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 320px) {
  .as-b\@xs  { align-self: baseline }
  .as-c\@xs  { align-self: center }
  .as-fe\@xs { align-self: flex-end }
  .as-fs\@xs { align-self: flex-start }
  .as-s\@xs  { align-self: stretch }
}
