/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 0) {
  .as-b\@mn  { align-self: baseline }
  .as-c\@mn  { align-self: center }
  .as-fe\@mn { align-self: flex-end }
  .as-fs\@mn { align-self: flex-start }
  .as-s\@mn  { align-self: stretch }
}
