/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 544px) {
  .as-b\@sm  { align-self: baseline }
  .as-c\@sm  { align-self: center }
  .as-fe\@sm { align-self: flex-end }
  .as-fs\@sm { align-self: flex-start }
  .as-s\@sm  { align-self: stretch }
}
