/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 1199px) {
  .ai-b\@\!xl  { align-items: baseline }
  .ai-c\@\!xl  { align-items: center }
  .ai-fe\@\!xl { align-items: flex-end }
  .ai-fs\@\!xl { align-items: flex-start }
  .ai-s\@\!xl  { align-items: stretch }
}
