/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* color design by @mrmrs. https://github.com/mrmrs/colors */

.gc-white   { background-color: #ffffff }
.gc-navy    { background-color: #001f3f }
.gc-blue    { background-color: #0074d9 }
.gc-aqua    { background-color: #7fdbff }
.gc-teal    { background-color: #39cccc }
.gc-olive   { background-color: #3d9970 }
.gc-green   { background-color: #2ecc40 }
.gc-lime    { background-color: #01ff70 }
.gc-yellow  { background-color: #ffdc00 }
.gc-orange  { background-color: #ff851b }
.gc-red     { background-color: #ff4136 }
.gc-maroon  { background-color: #85144b }
.gc-fuchsia { background-color: #f012be }
.gc-purple  { background-color: #b10dc9 }
.gc-gray    { background-color: #aaaaaa }
.gc-silver  { background-color: #dddddd }
.gc-black   { background-color: #111111 }

.gc-t       { background-color: transparent }
