/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.gc_l    > * { background-color: hsl(0, 0%, 100%); }
.gc_l\.9 > * { background-color: hsl(0, 0%, 90%); }
.gc_l\.8 > * { background-color: hsl(0, 0%, 80%); }
.gc_l\.7 > * { background-color: hsl(0, 0%, 70%); }
.gc_l\.6 > * { background-color: hsl(0, 0%, 60%); }
.gc_l\.5 > * { background-color: hsl(0, 0%, 50%); }
.gc_l\.4 > * { background-color: hsl(0, 0%, 40%); }
.gc_l\.3 > * { background-color: hsl(0, 0%, 30%); }
.gc_l\.2 > * { background-color: hsl(0, 0%, 20%); }
.gc_l\.1 > * { background-color: hsl(0, 0%, 10%); }
.gc_l\.0 > * { background-color: hsl(0, 0%, 0%); }
