/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* pixel */
.bs_0  > * { border-radius: 0 }
.bs_1p > * { border-radius: 1px }
.bs_2p > * { border-radius: 2px }
.bs_3p > * { border-radius: 3px }
.bs_4p > * { border-radius: 4px }

/* em */
.bs_025 > * { border-radius: .25em }
.bs_05  > * { border-radius: .5em }
.bs_1   > * { border-radius: 1em }
.bs_2   > * { border-radius: 2em }

/* rem */
.bs_025r > * { border-radius: .25rem }
.bs_05r  > * { border-radius: .5rem }
.bs_1r   > * { border-radius: 1rem }
.bs_2r   > * { border-radius: 2rem }
