/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 319px) {
  .bw-0\@\!xs,  .btw-0\@xs,  .brw-0\@xs,  .bbw-0\@xs,  .blw-0\@xs,  .bxw-0\@xs,  .byw-0\@xs,
  .bw-1p\@\!xs, .btw-1p\@xs, .brw-1p\@xs, .bbw-1p\@xs, .blw-1p\@xs, .bxw-1p\@xs, .byw-1p\@xs,
  .bw-2p\@\!xs, .btw-2p\@xs, .brw-2p\@xs, .bbw-2p\@xs, .blw-2p\@xs, .bxw-2p\@xs, .byw-2p\@xs,
  .bw-3p\@\!xs, .btw-3p\@xs, .brw-3p\@xs, .bbw-3p\@xs, .blw-3p\@xs, .bxw-3p\@xs, .byw-3p\@xs,
  .bw-4p\@\!xs, .btw-4p\@xs, .brw-4p\@xs, .bbw-4p\@xs, .blw-4p\@xs, .bxw-4p\@xs, .byw-4p { border-width: 0; border-style: solid }

  .bw-0\@\!xs     { border-width:        0 }
    .btw-0\@\!xs  { border-top-width:    0 }
    .brw-0\@\!xs  { border-right-width:  0 }
    .bbw-0\@\!xs  { border-bottom-width: 0 }
    .blw-0\@\!xs  { border-left-width:   0 }
    .bxw-0\@\!xs  { border-right-width:  0; border-left-width:   0 }
    .byw-0\@\!xs  { border-top-width:    0; border-bottom-width: 0 }

  .bw-1p\@\!xs    { border-width:        1px }
    .btw-1p\@\!xs { border-top-width:    1px }
    .brw-1p\@\!xs { border-right-width:  1px }
    .bbw-1p\@\!xs { border-bottom-width: 1px }
    .blw-1p\@\!xs { border-left-width:   1px }
    .bxw-1p\@\!xs { border-right-width:  1px; border-left-width:   1px }
    .byw-1p\@\!xs { border-top-width:    1px; border-bottom-width: 1px }

  .bw-2p\@\!xs    { border-width:        2px }
    .btw-2p\@\!xs { border-top-width:    2px }
    .brw-2p\@\!xs { border-right-width:  2px }
    .bbw-2p\@\!xs { border-bottom-width: 2px }
    .blw-2p\@\!xs { border-left-width:   2px }
    .bxw-2p\@\!xs { border-right-width:  2px; border-left-width:   2px }
    .byw-2p\@\!xs { border-top-width:    2px; border-bottom-width: 2px }

  .bw-3p\@\!xs    { border-width:        3px }
    .btw-3p\@\!xs { border-top-width:    3px }
    .brw-3p\@\!xs { border-right-width:  3px }
    .bbw-3p\@\!xs { border-bottom-width: 3px }
    .blw-3p\@\!xs { border-left-width:   3px }
    .bxw-3p\@\!xs { border-right-width:  3px; border-left-width:   3px }
    .byw-3p\@\!xs { border-top-width:    3px; border-bottom-width: 3px }

  .bw-4p\@\!xs    { border-width:        4px }
    .btw-4p\@\!xs { border-top-width:    4px }
    .brw-4p\@\!xs { border-right-width:  4px }
    .bbw-4p\@\!xs { border-bottom-width: 4px }
    .blw-4p\@\!xs { border-left-width:   4px }
    .bxw-4p\@\!xs { border-right-width:  4px; border-left-width:   4px }
    .byw-4p\@\!xs { border-top-width:    4px; border-bottom-width: 4px }
}
