/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 0) {
  .bw-0\@mn,  .btw-0\@mn,  .brw-0\@mn,  .bbw-0\@mn,  .blw-0\@mn,  .bxw-0\@mn,  .byw-0\@mn,
  .bw-1p\@mn, .btw-1p\@mn, .brw-1p\@mn, .bbw-1p\@mn, .blw-1p\@mn, .bxw-1p\@mn, .byw-1p\@mn,
  .bw-2p\@mn, .btw-2p\@mn, .brw-2p\@mn, .bbw-2p\@mn, .blw-2p\@mn, .bxw-2p\@mn, .byw-2p\@mn,
  .bw-3p\@mn, .btw-3p\@mn, .brw-3p\@mn, .bbw-3p\@mn, .blw-3p\@mn, .bxw-3p\@mn, .byw-3p\@mn,
  .bw-4p\@mn, .btw-4p\@mn, .brw-4p\@mn, .bbw-4p\@mn, .blw-4p\@mn, .bxw-4p\@mn, .byw-4p { border-width: 0; border-style: solid }

  .bw-0\@mn     { border-width:        0 }
    .btw-0\@mn  { border-top-width:    0 }
    .brw-0\@mn  { border-right-width:  0 }
    .bbw-0\@mn  { border-bottom-width: 0 }
    .blw-0\@mn  { border-left-width:   0 }
    .bxw-0\@mn  { border-right-width:  0; border-left-width:   0 }
    .byw-0\@mn  { border-top-width:    0; border-bottom-width: 0 }

  .bw-1p\@mn    { border-width:        1px }
    .btw-1p\@mn { border-top-width:    1px }
    .brw-1p\@mn { border-right-width:  1px }
    .bbw-1p\@mn { border-bottom-width: 1px }
    .blw-1p\@mn { border-left-width:   1px }
    .bxw-1p\@mn { border-right-width:  1px; border-left-width:   1px }
    .byw-1p\@mn { border-top-width:    1px; border-bottom-width: 1px }

  .bw-2p\@mn    { border-width:        2px }
    .btw-2p\@mn { border-top-width:    2px }
    .brw-2p\@mn { border-right-width:  2px }
    .bbw-2p\@mn { border-bottom-width: 2px }
    .blw-2p\@mn { border-left-width:   2px }
    .bxw-2p\@mn { border-right-width:  2px; border-left-width:   2px }
    .byw-2p\@mn { border-top-width:    2px; border-bottom-width: 2px }

  .bw-3p\@mn    { border-width:        3px }
    .btw-3p\@mn { border-top-width:    3px }
    .brw-3p\@mn { border-right-width:  3px }
    .bbw-3p\@mn { border-bottom-width: 3px }
    .blw-3p\@mn { border-left-width:   3px }
    .bxw-3p\@mn { border-right-width:  3px; border-left-width:   3px }
    .byw-3p\@mn { border-top-width:    3px; border-bottom-width: 3px }

  .bw-4p\@mn    { border-width:        4px }
    .btw-4p\@mn { border-top-width:    4px }
    .brw-4p\@mn { border-right-width:  4px }
    .bbw-4p\@mn { border-bottom-width: 4px }
    .blw-4p\@mn { border-left-width:   4px }
    .bxw-4p\@mn { border-right-width:  4px; border-left-width:   4px }
    .byw-4p\@mn { border-top-width:    4px; border-bottom-width: 4px }
}
