/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 544px) {
  .c-l\@sm    { color: hsl(0, 0%, 100%); }
  .c-l\.9\@sm { color: hsl(0, 0%, 90%); }
  .c-l\.8\@sm { color: hsl(0, 0%, 80%); }
  .c-l\.7\@sm { color: hsl(0, 0%, 70%); }
  .c-l\.6\@sm { color: hsl(0, 0%, 60%); }
  .c-l\.5\@sm { color: hsl(0, 0%, 60%); }
  .c-l\.4\@sm { color: hsl(0, 0%, 40%); }
  .c-l\.3\@sm { color: hsl(0, 0%, 30%); }
  .c-l\.2\@sm { color: hsl(0, 0%, 20%); }
  .c-l\.1\@sm { color: hsl(0, 0%, 10%); }
  .c-l\.0\@sm { color: hsl(0, 0%, 0%); }
}
