/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* color design by @mrmrs. https://github.com/mrmrs/colors */

@media (max-width: 767px) {
  .c-white\@\!md   { color: #ffffff }
  .c-navy\@\!md    { color: #001f3f }
  .c-blue\@\!md    { color: #0074d9 }
  .c-aqua\@\!md    { color: #7fdbff }
  .c-teal\@\!md    { color: #39cccc }
  .c-olive\@\!md   { color: #3d9970 }
  .c-green\@\!md   { color: #2ecc40 }
  .c-lime\@\!md    { color: #01ff70 }
  .c-yellow\@\!md  { color: #ffdc00 }
  .c-orange\@\!md  { color: #ff851b }
  .c-red\@\!md     { color: #ff4136 }
  .c-maroon\@\!md  { color: #85144b }
  .c-fuchsia\@\!md { color: #f012be }
  .c-purple\@\!md  { color: #b10dc9 }
  .c-gray\@\!md    { color: #aaaaaa }
  .c-silver\@\!md  { color: #dddddd }
  .c-black\@\!md   { color: #111111 }

  .c-t\@\!md       { color: transparent }
}
