/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 319px) {
  .c-l\@\!xs    { color: hsl(0, 0%, 100%); }
  .c-l\.9\@\!xs { color: hsl(0, 0%, 90%); }
  .c-l\.8\@\!xs { color: hsl(0, 0%, 80%); }
  .c-l\.7\@\!xs { color: hsl(0, 0%, 70%); }
  .c-l\.6\@\!xs { color: hsl(0, 0%, 60%); }
  .c-l\.5\@\!xs { color: hsl(0, 0%, 60%); }
  .c-l\.4\@\!xs { color: hsl(0, 0%, 40%); }
  .c-l\.3\@\!xs { color: hsl(0, 0%, 30%); }
  .c-l\.2\@\!xs { color: hsl(0, 0%, 20%); }
  .c-l\.1\@\!xs { color: hsl(0, 0%, 10%); }
  .c-l\.0\@\!xs { color: hsl(0, 0%, 0%); }
}
