/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* color design by @mrmrs. https://github.com/mrmrs/colors */

.c-white   { color: #ffffff }
.c-navy    { color: #001f3f }
.c-blue    { color: #0074d9 }
.c-aqua    { color: #7fdbff }
.c-teal    { color: #39cccc }
.c-olive   { color: #3d9970 }
.c-green   { color: #2ecc40 }
.c-lime    { color: #01ff70 }
.c-yellow  { color: #ffdc00 }
.c-orange  { color: #ff851b }
.c-red     { color: #ff4136 }
.c-maroon  { color: #85144b }
.c-fuchsia { color: #f012be }
.c-purple  { color: #b10dc9 }
.c-gray    { color: #aaaaaa }
.c-silver  { color: #dddddd }
.c-black   { color: #111111 }

.c-t       { color: transparent }
