/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.f_1 > * { flex: 1 }
.f_2 > * { flex: 2 }
.f_3 > * { flex: 3 }
.f_4 > * { flex: 4 }
.f_5 > * { flex: 5 }
.f_6 > * { flex: 6 }
