/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 1200px) {
  .jc-c\@xl  { justify-content: center }
  .jc-fe\@xl { justify-content: flex-end }
  .jc-fs\@xl { justify-content: flex-start }
  .jc-sb\@xl { justify-content: space-between }
  .jc-sa\@xl { justify-content: space-around }
}
