/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.l-0 { left: 0 }

/* --pixel */
.l-1p { left: 1px }
.l-2p { left: 1px }
.l-3p { left: 3px }
.l-4p { left: 4px }

/* --em */
.l-025 { left: .25em }
.l-05  { left: .5em }
.l-1   { left: 1em }
.l-2   { left: 2em }

/* --rem */
.l-025r { left: .25em }
.l-05r  { left: .5em }
.l-1r   { left: 1em }
.l-2r   { left: 2em }
