/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.m-0     { margin:        0 }
  .mt-0  { margin-top:    0 }
  .mr-0  { margin-right:  0 }
  .mb-0  { margin-bottom: 0 }
  .ml-0  { margin-left:   0 }
  .mx-0  { margin-right:  0; margin-left:   0 }
  .my-0  { margin-top:    0; margin-bottom: 0 }

/* -- px */

.m-1p    { margin:        1px }
  .mt-1p { margin-top:    1px }
  .mr-1p { margin-right:  1px }
  .mb-1p { margin-bottom: 1px }
  .ml-1p { margin-left:   1px }
  .mx-1p { margin-right:  1px; margin-left:   1px }
  .my-1p { margin-top:    1px; margin-bottom: 1px }

.m-2p    { margin:        2px }
  .mt-2p { margin-top:    2px }
  .mr-2p { margin-right:  2px }
  .mb-2p { margin-bottom: 2px }
  .ml-2p { margin-left:   2px }
  .mx-2p { margin-right:  2px; margin-left:   2px }
  .my-2p { margin-top:    2px; margin-bottom: 2px }

.m-3p    { margin:        3px }
  .mt-3p { margin-top:    3px }
  .mr-3p { margin-right:  3px }
  .mb-3p { margin-bottom: 3px }
  .ml-3p { margin-left:   3px }
  .mx-3p { margin-right:  3px; margin-left:   3px }
  .my-3p { margin-top:    3px; margin-bottom: 3px }

.m-4p    { margin:        4px }
  .mt-4p { margin-top:    4px }
  .mr-4p { margin-right:  4px }
  .mb-4p { margin-bottom: 4px }
  .ml-4p { margin-left:   4px }
  .mx-4p { margin-right:  4px; margin-left:   4px }
  .my-4p { margin-top:    4px; margin-bottom: 4px }

/* -- em */

.m-025    { margin:        .25em }
  .mt-025 { margin-top:    .25em }
  .mr-025 { margin-right:  .25em }
  .mb-025 { margin-bottom: .25em }
  .ml-025 { margin-left:   .25em }
  .mx-025 { margin-right:  .25em; margin-left:   .25em }
  .my-025 { margin-top:    .25em; margin-bottom: .25em }

.m-05    { margin:        .5em }
  .mt-05 { margin-top:    .5em }
  .mr-05 { margin-right:  .5em }
  .mb-05 { margin-bottom: .5em }
  .ml-05 { margin-left:   .5em }
  .mx-05 { margin-right:  .5em; margin-left:   .5em }
  .my-05 { margin-top:    .5em; margin-bottom: .5em }

.m-1     { margin:        1em }
  .mt-1  { margin-top:    1em }
  .mr-1  { margin-right:  1em }
  .mb-1  { margin-bottom: 1em }
  .ml-1  { margin-left:   1em }
  .mx-1  { margin-right:  1em; margin-left:   1em }
  .my-1  { margin-top:    1em; margin-bottom: 1em }

.m-2    { margin:        2em }
  .mt-2 { margin-top:    2em }
  .mr-2 { margin-right:  2em }
  .mb-2 { margin-bottom: 2em }
  .ml-2 { margin-left:   2em }
  .mx-2 { margin-right:  2em; margin-left:   .2em }
  .my-2 { margin-top:    2em; margin-bottom: .2em }

.m-3    { margin:        3em }
  .mt-3 { margin-top:    3em }
  .mr-3 { margin-right:  3em }
  .mb-3 { margin-bottom: 3em }
  .ml-3 { margin-left:   3em }
  .mx-3 { margin-right:  3em; margin-left:   .3em }
  .my-3 { margin-top:    3em; margin-bottom: .3em }

.m-4    { margin:        4em }
  .mt-4 { margin-top:    4em }
  .mr-4 { margin-right:  4em }
  .mb-4 { margin-bottom: 4em }
  .ml-4 { margin-left:   4em }
  .mx-4 { margin-right:  4em; margin-left:   .4em }
  .my-4 { margin-top:    4em; margin-bottom: .4em }

/* -- rem */

.m-025r    { margin:        .25rem }
  .mt-025r { margin-top:    .25rem }
  .mr-025r { margin-right:  .25rem }
  .mb-025r { margin-bottom: .25rem }
  .ml-025r { margin-left:   .25rem }
  .mx-025r { margin-right:  .25rem; margin-left:   .25rem }
  .my-025r { margin-top:    .25rem; margin-bottom: .25rem }

.m-05r     { margin:        .5rem }
  .mt-05r  { margin-top:    .5rem }
  .mr-05r  { margin-right:  .5rem }
  .mb-05r  { margin-bottom: .5rem }
  .ml-05r  { margin-left:   .5rem }
  .mx-05r  { margin-right:  .5rem; margin-left:   .5rem }
  .my-05r  { margin-top:    .5rem; margin-bottom: .5rem }

.m-1r     { margin:        1rem }
  .mt-1r  { margin-top:    1rem }
  .mr-1r  { margin-right:  1rem }
  .mb-1r  { margin-bottom: 1rem }
  .ml-1r  { margin-left:   1rem }
  .mx-1r  { margin-right:  1rem; margin-left:   1rem }
  .my-1r  { margin-top:    1rem; margin-bottom: 1rem }

.m-2r     { margin:        2rem }
  .mt-2r  { margin-top:    2rem }
  .mr-2r  { margin-right:  2rem }
  .mb-2r  { margin-bottom: 2rem }
  .ml-2r  { margin-left:   2rem }
  .mx-2r  { margin-right:  2rem; margin-left:   2rem }
  .my-2r  { margin-top:    2rem; margin-bottom: 2rem }

.m-3r     { margin:        3rem }
  .mt-3r  { margin-top:    3rem }
  .mr-3r  { margin-right:  3rem }
  .mb-3r  { margin-bottom: 3rem }
  .ml-3r  { margin-left:   3rem }
  .mx-3r  { margin-right:  3rem; margin-left:   3rem }
  .my-3r  { margin-top:    3rem; margin-bottom: 3rem }

.m-4r     { margin:        4rem }
  .mt-4r  { margin-top:    4rem }
  .mr-4r  { margin-right:  4rem }
  .mb-4r  { margin-bottom: 4rem }
  .ml-4r  { margin-left:   4rem }
  .mx-4r  { margin-right:  4rem; margin-left:   4rem }
  .my-4r  { margin-top:    4rem; margin-bottom: 4rem }

.m-0xa { margin: 0 auto }
