/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 991px) {
  .m-0\@\!lg   { margin:        0 }
  .mt-0\@\!lg  { margin-top:    0 }
  .mr-0\@\!lg  { margin-right:  0 }
  .mb-0\@\!lg  { margin-bottom: 0 }
  .ml-0\@\!lg  { margin-left:   0 }
  .mx-0\@\!lg  { margin-right:  0; margin-left:   0 }
  .my-0\@\!lg  { margin-top:    0; margin-bottom: 0 }

  /* -- px */

  .m-1p\@\!lg  { margin:        1px }
  .mt-1p\@\!lg { margin-top:    1px }
  .mr-1p\@\!lg { margin-right:  1px }
  .mb-1p\@\!lg { margin-bottom: 1px }
  .ml-1p\@\!lg { margin-left:   1px }
  .mx-1p\@\!lg { margin-right:  1px; margin-left:   1px }
  .my-1p\@\!lg { margin-top:    1px; margin-bottom: 1px }

  .m-2p\@\!lg  { margin:        2px }
  .mt-2p\@\!lg { margin-top:    2px }
  .mr-2p\@\!lg { margin-right:  2px }
  .mb-2p\@\!lg { margin-bottom: 2px }
  .ml-2p\@\!lg { margin-left:   2px }
  .mx-2p\@\!lg { margin-right:  2px; margin-left:   2px }
  .my-2p\@\!lg { margin-top:    2px; margin-bottom: 2px }

  .m-3p\@\!lg  { margin:        3px }
  .mt-3p\@\!lg { margin-top:    3px }
  .mr-3p\@\!lg { margin-right:  3px }
  .mb-3p\@\!lg { margin-bottom: 3px }
  .ml-3p\@\!lg { margin-left:   3px }
  .mx-3p\@\!lg { margin-right:  3px; margin-left:   3px }
  .my-3p\@\!lg { margin-top:    3px; margin-bottom: 3px }

  .m-4p\@\!lg  { margin:        4px }
  .mt-4p\@\!lg { margin-top:    4px }
  .mr-4p\@\!lg { margin-right:  4px }
  .mb-4p\@\!lg { margin-bottom: 4px }
  .ml-4p\@\!lg { margin-left:   4px }
  .mx-4p\@\!lg { margin-right:  4px; margin-left:   4px }
  .my-4p\@\!lg { margin-top:    4px; margin-bottom: 4px }

  /* -- em */

  .m-025\@\!lg  { margin:        .25em }
  .mt-025\@\!lg { margin-top:    .25em }
  .mr-025\@\!lg { margin-right:  .25em }
  .mb-025\@\!lg { margin-bottom: .25em }
  .ml-025\@\!lg { margin-left:   .25em }
  .mx-025\@\!lg { margin-right:  .25em; margin-left:   .25em }
  .my-025\@\!lg { margin-top:    .25em; margin-bottom: .25em }

  .m-05\@\!lg  { margin:        .5em }
  .mt-05\@\!lg { margin-top:    .5em }
  .mr-05\@\!lg { margin-right:  .5em }
  .mb-05\@\!lg { margin-bottom: .5em }
  .ml-05\@\!lg { margin-left:   .5em }
  .mx-05\@\!lg { margin-right:  .5em; margin-left:   .5em }
  .my-05\@\!lg { margin-top:    .5em; margin-bottom: .5em }

  .m-1\@\!lg   { margin:        1em }
  .mt-1\@\!lg  { margin-top:    1em }
  .mr-1\@\!lg  { margin-right:  1em }
  .mb-1\@\!lg  { margin-bottom: 1em }
  .ml-1\@\!lg  { margin-left:   1em }
  .mx-1\@\!lg  { margin-right:  1em; margin-left:   1em }
  .my-1\@\!lg  { margin-top:    1em; margin-bottom: 1em }

  .m-2\@\!lg  { margin:        2em }
  .mt-2\@\!lg { margin-top:    2em }
  .mr-2\@\!lg { margin-right:  2em }
  .mb-2\@\!lg { margin-bottom: 2em }
  .ml-2\@\!lg { margin-left:   2em }
  .mx-2\@\!lg { margin-right:  2em; margin-left:   .2em }
  .my-2\@\!lg { margin-top:    2em; margin-bottom: .2em }

  .m-3\@\!lg  { margin:        3em }
  .mt-3\@\!lg { margin-top:    3em }
  .mr-3\@\!lg { margin-right:  3em }
  .mb-3\@\!lg { margin-bottom: 3em }
  .ml-3\@\!lg { margin-left:   3em }
  .mx-3\@\!lg { margin-right:  3em; margin-left:   .3em }
  .my-3\@\!lg { margin-top:    3em; margin-bottom: .3em }

  .m-4\@\!lg  { margin:        4em }
  .mt-4\@\!lg { margin-top:    4em }
  .mr-4\@\!lg { margin-right:  4em }
  .mb-4\@\!lg { margin-bottom: 4em }
  .ml-4\@\!lg { margin-left:   4em }
  .mx-4\@\!lg { margin-right:  4em; margin-left:   .4em }
  .my-4\@\!lg { margin-top:    4em; margin-bottom: .4em }

  /* -- rem */

  .m-025r\@\!lg  { margin:        .25em }
  .mt-025r\@\!lg { margin-top:    .25em }
  .mr-025r\@\!lg { margin-right:  .25em }
  .mb-025r\@\!lg { margin-bottom: .25em }
  .ml-025r\@\!lg { margin-left:   .25em }
  .mx-025r\@\!lg { margin-right:  .25em; margin-left:   .25em }
  .my-025r\@\!lg { margin-top:    .25em; margin-bottom: .25em }

  .m-05r\@\!lg   { margin:        .5rem }
  .mt-05r\@\!lg  { margin-top:    .5rem }
  .mr-05r\@\!lg  { margin-right:  .5rem }
  .mb-05r\@\!lg  { margin-bottom: .5rem }
  .ml-05r\@\!lg  { margin-left:   .5rem }
  .mx-05r\@\!lg  { margin-right:  .5rem; margin-left:   .5rem }
  .my-05r\@\!lg  { margin-top:    .5rem; margin-bottom: .5rem }

  .m-1r\@\!lg   { margin:        1rem }
  .mt-1r\@\!lg  { margin-top:    1rem }
  .mr-1r\@\!lg  { margin-right:  1rem }
  .mb-1r\@\!lg  { margin-bottom: 1rem }
  .ml-1r\@\!lg  { margin-left:   1rem }
  .mx-1r\@\!lg  { margin-right:  1rem; margin-left:   1rem }
  .my-1r\@\!lg  { margin-top:    1rem; margin-bottom: 1rem }

  .m-2r\@\!lg   { margin:        2rem }
  .mt-2r\@\!lg  { margin-top:    2rem }
  .mr-2r\@\!lg  { margin-right:  2rem }
  .mb-2r\@\!lg  { margin-bottom: 2rem }
  .ml-2r\@\!lg  { margin-left:   2rem }
  .mx-2r\@\!lg  { margin-right:  2rem; margin-left:   2rem }
  .my-2r\@\!lg  { margin-top:    2rem; margin-bottom: 2rem }

  .m-3r\@\!lg   { margin:        3rem }
  .mt-3r\@\!lg  { margin-top:    3rem }
  .mr-3r\@\!lg  { margin-right:  3rem }
  .mb-3r\@\!lg  { margin-bottom: 3rem }
  .ml-3r\@\!lg  { margin-left:   3rem }
  .mx-3r\@\!lg  { margin-right:  3rem; margin-left:   3rem }
  .my-3r\@\!lg  { margin-top:    3rem; margin-bottom: 3rem }

  .m-4r\@\!lg   { margin:        4rem }
  .mt-4r\@\!lg  { margin-top:    4rem }
  .mr-4r\@\!lg  { margin-right:  4rem }
  .mb-4r\@\!lg  { margin-bottom: 4rem }
  .ml-4r\@\!lg  { margin-left:   4rem }
  .mx-4r\@\!lg  { margin-right:  4rem; margin-left:   4rem }
  .my-4r\@\!lg  { margin-top:    4rem; margin-bottom: 4rem }

  .m-0xa\@\!lg { margin: 0 auto }
}
