/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 320px) {
  .o-0\@xs { order: 0 }
  .o-1\@xs { order: 1 }
  .o-2\@xs { order: 2 }
  .o-3\@xs { order: 3 }
  .o-4\@xs { order: 4 }
  .o-5\@xs { order: 5 }
  .o-6\@xs { order: 6 }

  .o-n1\@xs { order: -1 }
  .o-n2\@xs { order: -2 }
  .o-n3\@xs { order: -3 }
  .o-n4\@xs { order: -4 }
  .o-n5\@xs { order: -5 }
  .o-n6\@xs { order: -6 }
}
