/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 992px) {
  .o-0\@lg { order: 0 }
  .o-1\@lg { order: 1 }
  .o-2\@lg { order: 2 }
  .o-3\@lg { order: 3 }
  .o-4\@lg { order: 4 }
  .o-5\@lg { order: 5 }
  .o-6\@lg { order: 6 }

  .o-n1\@lg { order: -1 }
  .o-n2\@lg { order: -2 }
  .o-n3\@lg { order: -3 }
  .o-n4\@lg { order: -4 }
  .o-n5\@lg { order: -5 }
  .o-n6\@lg { order: -6 }
}
