/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 991px) {
  .o-a\@\!lg { overflow: auto }
  .o-h\@\!lg { overflow: hidden }
  .o-s\@\!lg { overflow: scroll }
  .o-v\@\!lg { overflow: visible }

  .ox-a\@\!lg { overflow-x: auto }
  .ox-h\@\!lg { overflow-x: hidden }
  .ox-s\@\!lg { overflow-x: scroll }
  .ox-v\@\!lg { overflow-x: visible }

  .oy-a\@\!lg { overflow-y: auto }
  .oy-h\@\!lg { overflow-y: hidden }
  .oy-s\@\!lg { overflow-y: scroll }
  .oy-v\@\!lg { overflow-y: visible }

  .-wos\@\!lg {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
}
