/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 0) {
  .p-s\@mn { position: static }
  .p-r\@mn { position: relative }
  .p-a\@mn { position: absolute }
  .p-f\@mn { position: fixed }
}
