/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 319px) {
  .p-s\@\!xs { position: static }
  .p-r\@\!xs { position: relative }
  .p-a\@\!xs { position: absolute }
  .p-f\@\!xs { position: fixed }
}
