/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 319px) {
  .ta-c\@\!xs { text-align: center }
  .ta-j\@\!xs { text-align: justify }
  .ta-l\@\!xs { text-align: left }
  .ta-r\@\!xs { text-align: right }
}
