/*! minions.css */
.h-a{height:auto}
.h-mc{height:max-content}
.h-nc{height:min-content}
.h-fc{height:fit-content}
.h-10\%{height:10%}
.h-20\%{height:20%}
.h-25\%{height:25%}
.h-30\%{height:30%}
.h-33\%{height:33.3333%}
.h-40\%{height:40%}
.h-50\%{height:50%}
.h-60\%{height:60%}
.h-66\%{height:66.6666%}
.h-70\%{height:70%}
.h-75\%{height:75%}
.h-80\%{height:80%}
.h-90\%{height:90%}
.h-100\%{height:100%}
