/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* -- px */

.-column-gutter-0 > *              { margin-top:    0; margin-bottom: 0 }
.-column-gutter-0 > *:first-child  { margin-top:    0 }
.-column-gutter-0 > *:last-child   { margin-bottom: 0 }

.-column-gutter-1p > *             { margin-top:    .5px; margin-bottom: .5px }
.-column-gutter-1p > *:first-child { margin-top:    0 }
.-column-gutter-1p > *:last-child  { margin-bottom: 0 }

.-column-gutter-2p > *             { margin-top:    1px; margin-bottom: 1px }
.-column-gutter-2p > *:first-child { margin-top:    0 }
.-column-gutter-2p > *:last-child  { margin-bottom: 0 }

.-column-gutter-3p > *             { margin-top:    1.5px; margin-bottom: 1.5px }
.-column-gutter-3p > *:first-child { margin-top:    0 }
.-column-gutter-3p > *:last-child  { margin-bottom: 0 }

.-column-gutter-4p > *             { margin-top:    2px; margin-bottom: 2px }
.-column-gutter-4p > *:first-child { margin-top:    0 }
.-column-gutter-4p > *:last-child  { margin-bottom: 0 }

/* -- em */

.-column-gutter-025 > *             { margin-top:    .125em; margin-bottom: .125em }
.-column-gutter-025 > *:first-child { margin-top:    0 }
.-column-gutter-025 > *:last-child  { margin-bottom: 0 }

.-column-gutter-05 > *              { margin-top:    .25em; margin-bottom: .25em }
.-column-gutter-05 > *:first-child  { margin-top:    0 }
.-column-gutter-05 > *:last-child   { margin-bottom: 0 }

.-column-gutter-1 > *               { margin-top:    .5em; margin-bottom: .5em }
.-column-gutter-1 > *:first-child   { margin-top:    0 }
.-column-gutter-1 > *:last-child    { margin-bottom: 0 }

.-column-gutter-2 > *               { margin-top:    1em; margin-bottom: 1em }
.-column-gutter-2 > *:first-child   { margin-top:    0 }
.-column-gutter-2 > *:last-child    { margin-bottom: 0 }

/* -- rem */

.-column-gutter-025r > *             { margin-top:    .125rem; margin-bottom: .125rem }
.-column-gutter-025r > *:first-child { margin-top:    0 }
.-column-gutter-025r > *:last-child  { margin-bottom: 0 }

.-column-gutter-05r > *              { margin-top:    .25rem; margin-bottom: .25rem }
.-column-gutter-05r > *:first-child  { margin-top:    0 }
.-column-gutter-05r > *:last-child   { margin-bottom: 0 }

.-column-gutter-1r > *               { margin-top:    .5rem; margin-bottom: .5rem; }
.-column-gutter-1r > *:first-child   { margin-top:    0 }
.-column-gutter-1r > *:last-child    { margin-bottom: 0 }

.-column-gutter-2r > *               { margin-top:    1rem; margin-bottom: 1rem; }
.-column-gutter-2r > *:first-child   { margin-top:    0 }
.-column-gutter-2r > *:last-child    { margin-bottom: 0 }
