/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* -- px */

.-row-gutter-0 > *:first-child { margin-left:  0 }
.-row-gutter-0 > *             { margin-right: 0; margin-left: 0 }
.-row-gutter-0 > *:last-child  { margin-right: 0 }

.-row-gutter-1p > *:first-child { margin-left:  0 }
.-row-gutter-1p > *             { margin-right: .5px; margin-left: .5px }
.-row-gutter-1p > *:last-child  { margin-right: 0 }

.-row-gutter-2p > *:first-child { margin-left:  0 }
.-row-gutter-2p > *             { margin-right: 1px; margin-left: 1px }
.-row-gutter-2p > *:last-child  { margin-right: 0 }

.-row-gutter-3p > *:first-child { margin-left:  0 }
.-row-gutter-3p > *             { margin-right: 1.5px; margin-left: 1.5px }
.-row-gutter-3p > *:last-child  { margin-right: 0 }

.-row-gutter-4p > *:first-child { margin-left:  0 }
.-row-gutter-4p > *             { margin-right: 2px; margin-left: 2px }
.-row-gutter-4p > *:last-child  { margin-right: 0 }

/* -- em */

.-row-gutter-025 > *:first-child { margin-left:  0 }
.-row-gutter-025 > *             { margin-right: .125em; margin-left: .125em }
.-row-gutter-025 > *:last-child  { margin-right: 0 }

.-row-gutter-05 > *:first-child { margin-left:  0 }
.-row-gutter-05 > *             { margin-right: .25em; margin-left: .25em }
.-row-gutter-05 > *:last-child  { margin-right:  }

.-row-gutter-1 > *:first-child { margin-left:  0 }
.-row-gutter-1 > *             { margin-right: .5em; margin-left: .5em }
.-row-gutter-1 > *:last-child  { margin-right: 0 }

.-row-gutter-2 > *:first-child { margin-left:  0 }
.-row-gutter-2 > *             { margin-right: 1em; margin-left: 1em }
.-row-gutter-2 > *:last-child  { margin-right: 0 }


/* -- rem */
.-row-gutter-025r > *:first-child { margin-left:  0 }
.-row-gutter-025r > *             { margin-right: .125rem; margin-left: .125rem }
.-row-gutter-025r > *:last-child  { margin-right: 0 }

.-row-gutter-05r > *:first-child { margin-left:  0 }
.-row-gutter-05r > *             { margin-right: .25rem; margin-left: .25rem }
.-row-gutter-05r > *:last-child  { margin-right: 0 }

.-row-gutter-1r > *:first-child { margin-left:  0 }
.-row-gutter-1r > *             { margin-right: .5rem; margin-left: .5rem }
.-row-gutter-1r > *:last-child  { margin-right: 0 }

.-row-gutter-2r > *:first-child { margin-left:  0 }
.-row-gutter-2r > *             { margin-right: 1rem; margin-left: 1rem }
.-row-gutter-2r > *:last-child  { margin-right: 0 }
