/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 1199px) {
  .as-b\@\!xl  { align-self: baseline }
  .as-c\@\!xl  { align-self: center }
  .as-fe\@\!xl { align-self: flex-end }
  .as-fs\@\!xl { align-self: flex-start }
  .as-s\@\!xl  { align-self: stretch }
}
