/* minions.css | MIT License | https://github.com/chantastic/minions.css */

.as-b  { align-self: baseline }
.as-c  { align-self: center }
.as-fe { align-self: flex-end }
.as-fs { align-self: flex-start }
.as-s  { align-self: stretch }
