/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 320px) and (max-width: 543px) {
  .ai-b\@\=xs  { align-items: baseline }
  .ai-c\@\=\=xs  { align-items: center }
  .ai-fe\@\=xs { align-items: flex-end }
  .ai-fs\@\=xs { align-items: flex-start }
  .ai-s\@\=xs  { align-items: stretch }
}
