/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.gc-k    { background-color: hsl(0, 0%, 0%); }
.gc-k\.9 { background-color: hsl(0, 0%, 10%); }
.gc-k\.8 { background-color: hsl(0, 0%, 20%); }
.gc-k\.7 { background-color: hsl(0, 0%, 30%); }
.gc-k\.6 { background-color: hsl(0, 0%, 40%); }
.gc-k\.5 { background-color: hsl(0, 0%, 50%); }
.gc-k\.4 { background-color: hsl(0, 0%, 60%); }
.gc-k\.3 { background-color: hsl(0, 0%, 70%); }
.gc-k\.2 { background-color: hsl(0, 0%, 80%); }
.gc-k\.1 { background-color: hsl(0, 0%, 90%); }
.gc-k\.0 { background-color: hsl(0, 0%, 100%); }
