/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.gc-w    { background-color: hsl(0, 0%, 100%); }
.gc-w\.9 { background-color: hsl(0, 0%, 90%); }
.gc-w\.8 { background-color: hsl(0, 0%, 80%); }
.gc-w\.7 { background-color: hsl(0, 0%, 70%); }
.gc-w\.6 { background-color: hsl(0, 0%, 60%); }
.gc-w\.5 { background-color: hsl(0, 0%, 60%); }
.gc-w\.4 { background-color: hsl(0, 0%, 40%); }
.gc-w\.3 { background-color: hsl(0, 0%, 30%); }
.gc-w\.2 { background-color: hsl(0, 0%, 20%); }
.gc-w\.1 { background-color: hsl(0, 0%, 10%); }
.gc-w\.0 { background-color: hsl(0, 0%, 0%); }
