/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* color design by @mrmrs. https://github.com/mrmrs/colors */

.gc_white   > * { background-color: #ffffff }
.gc_navy    > * { background-color: #001f3f }
.gc_blue    > * { background-color: #0074d9 }
.gc_aqua    > * { background-color: #7fdbff }
.gc_teal    > * { background-color: #39cccc }
.gc_olive   > * { background-color: #3d9970 }
.gc_green   > * { background-color: #2ecc40 }
.gc_lime    > * { background-color: #01ff70 }
.gc_yellow  > * { background-color: #ffdc00 }
.gc_orange  > * { background-color: #ff851b }
.gc_red     > * { background-color: #ff4136 }
.gc_maroon  > * { background-color: #85144b }
.gc_fuchsia > * { background-color: #f012be }
.gc_purple  > * { background-color: #b10dc9 }
.gc_gray    > * { background-color: #aaaaaa }
.gc_silver  > * { background-color: #dddddd }
.gc_black   > * { background-color: #111111 }
