/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 544px) {
  .gc-l\@sm    { background-color: hsl(0, 0%, 100%); }
  .gc-l\.9\@sm { background-color: hsl(0, 0%, 90%); }
  .gc-l\.8\@sm { background-color: hsl(0, 0%, 80%); }
  .gc-l\.7\@sm { background-color: hsl(0, 0%, 70%); }
  .gc-l\.6\@sm { background-color: hsl(0, 0%, 60%); }
  .gc-l\.5\@sm { background-color: hsl(0, 0%, 50%); }
  .gc-l\.4\@sm { background-color: hsl(0, 0%, 40%); }
  .gc-l\.3\@sm { background-color: hsl(0, 0%, 30%); }
  .gc-l\.2\@sm { background-color: hsl(0, 0%, 20%); }
  .gc-l\.1\@sm { background-color: hsl(0, 0%, 10%); }
  .gc-l\.0\@sm { background-color: hsl(0, 0%, 0%); }
}
