/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.gc-w  { background-color: hsl(0, 0%, 100%); }
.gc-w9 { background-color: hsl(0, 0%, 90%); }
.gc-w8 { background-color: hsl(0, 0%, 80%); }
.gc-w7 { background-color: hsl(0, 0%, 70%); }
.gc-w6 { background-color: hsl(0, 0%, 60%); }
.gc-w5 { background-color: hsl(0, 0%, 60%); }
.gc-w4 { background-color: hsl(0, 0%, 40%); }
.gc-w3 { background-color: hsl(0, 0%, 30%); }
.gc-w2 { background-color: hsl(0, 0%, 20%); }
.gc-w1 { background-color: hsl(0, 0%, 10%); }
.gc-w0 { background-color: hsl(0, 0%, 0%); }
