/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.gc-white   { background-color: white; }
.gc-navy    { background-color: navy; }
.gc-blue    { background-color: blue; }
.gc-aqua    { background-color: aqua; }
.gc-teal    { background-color: teal; }
.gc-olive   { background-color: olive; }
.gc-green   { background-color: green; }
.gc-lime    { background-color: lime; }
.gc-yellow  { background-color: yellow; }
.gc-orange  { background-color: orange; }
.gc-red     { background-color: red; }
.gc-maroon  { background-color: maroon; }
.gc-fuchsia { background-color: fuchsia; }
.gc-purple  { background-color: purple; }
.gc-gray    { background-color: gray; }
.gc-silver  { background-color: silver; }
.gc-black   { background-color: black; }
