/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* color design by @mrmrs. https://github.com/mrmrs/colors */

@media (min-width: 992px) {
  .gc-white\@lg   { background-color: #ffffff }
  .gc-navy\@lg    { background-color: #001f3f }
  .gc-blue\@lg    { background-color: #0074d9 }
  .gc-aqua\@lg    { background-color: #7fdbff }
  .gc-teal\@lg    { background-color: #39cccc }
  .gc-olive\@lg   { background-color: #3d9970 }
  .gc-green\@lg   { background-color: #2ecc40 }
  .gc-lime\@lg    { background-color: #01ff70 }
  .gc-yellow\@lg  { background-color: #ffdc00 }
  .gc-orange\@lg  { background-color: #ff851b }
  .gc-red\@lg     { background-color: #ff4136 }
  .gc-maroon\@lg  { background-color: #85144b }
  .gc-fuchsia\@lg { background-color: #f012be }
  .gc-purple\@lg  { background-color: #b10dc9 }
  .gc-gray\@lg    { background-color: #aaaaaa }
  .gc-silver\@lg  { background-color: #dddddd }
  .gc-black\@lg   { background-color: #111111 }
}
