/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.gc-l    { background-color: hsl(0, 0%, 100%); }
.gc-l\.9 { background-color: hsl(0, 0%, 90%); }
.gc-l\.8 { background-color: hsl(0, 0%, 80%); }
.gc-l\.7 { background-color: hsl(0, 0%, 70%); }
.gc-l\.6 { background-color: hsl(0, 0%, 60%); }
.gc-l\.5 { background-color: hsl(0, 0%, 60%); }
.gc-l\.4 { background-color: hsl(0, 0%, 40%); }
.gc-l\.3 { background-color: hsl(0, 0%, 30%); }
.gc-l\.2 { background-color: hsl(0, 0%, 20%); }
.gc-l\.1 { background-color: hsl(0, 0%, 10%); }
.gc-l\.0 { background-color: hsl(0, 0%, 0%); }
