/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.gc-k  { background-color: hsl(0, 0%, 0%); }
.gc-k9 { background-color: hsl(0, 0%, 10%); }
.gc-k8 { background-color: hsl(0, 0%, 20%); }
.gc-k7 { background-color: hsl(0, 0%, 30%); }
.gc-k6 { background-color: hsl(0, 0%, 40%); }
.gc-k5 { background-color: hsl(0, 0%, 50%); }
.gc-k4 { background-color: hsl(0, 0%, 60%); }
.gc-k3 { background-color: hsl(0, 0%, 70%); }
.gc-k2 { background-color: hsl(0, 0%, 80%); }
.gc-k1 { background-color: hsl(0, 0%, 90%); }
.gc-k0 { background-color: hsl(0, 0%, 100%); }
