/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 768px) {
  .gc-l\@md    { background-color: hsl(0, 0%, 100%); }
  .gc-l\.9\@md { background-color: hsl(0, 0%, 90%); }
  .gc-l\.8\@md { background-color: hsl(0, 0%, 80%); }
  .gc-l\.7\@md { background-color: hsl(0, 0%, 70%); }
  .gc-l\.6\@md { background-color: hsl(0, 0%, 60%); }
  .gc-l\.5\@md { background-color: hsl(0, 0%, 50%); }
  .gc-l\.4\@md { background-color: hsl(0, 0%, 40%); }
  .gc-l\.3\@md { background-color: hsl(0, 0%, 30%); }
  .gc-l\.2\@md { background-color: hsl(0, 0%, 20%); }
  .gc-l\.1\@md { background-color: hsl(0, 0%, 10%); }
  .gc-l\.0\@md { background-color: hsl(0, 0%, 0%); }
}
