/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.bw-0,
.bw-1p,
.bw-2p,
.bw-3p,
.bw-4p { border-style: solid }

.bw-0  { border-width: 0 }
.bw-1p { border-width: 1px }
.bw-2p { border-width: 2px }
.bw-3p { border-width: 3px }
.bw-4p { border-width: 4px }
