/* minions.css | MIT License | https://github.com/chantastic/minions.css */

.bc-l    { border-color: hsl(0, 0%, 100%); }
.bc-l\.9 { border-color: hsl(0, 0%, 90%); }
.bc-l\.8 { border-color: hsl(0, 0%, 80%); }
.bc-l\.7 { border-color: hsl(0, 0%, 70%); }
.bc-l\.6 { border-color: hsl(0, 0%, 60%); }
.bc-l\.5 { border-color: hsl(0, 0%, 60%); }
.bc-l\.4 { border-color: hsl(0, 0%, 40%); }
.bc-l\.3 { border-color: hsl(0, 0%, 30%); }
.bc-l\.2 { border-color: hsl(0, 0%, 20%); }
.bc-l\.1 { border-color: hsl(0, 0%, 10%); }
.bc-l\.0 { border-color: hsl(0, 0%, 0%); }
