/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.bw-0,  .btw-0,  .brw-0,  .bbw-0,  .blw-0,  .bxw-0,  .byw-0,
.bw-1p, .btw-1p, .brw-1p, .bbw-1p, .blw-1p, .bxw-1p, .byw-1p,
.bw-2p, .btw-2p, .brw-2p, .bbw-2p, .blw-2p, .bxw-2p, .byw-2p,
.bw-3p, .btw-3p, .brw-3p, .bbw-3p, .blw-3p, .bxw-3p, .byw-3p,
.bw-4p, .btw-4p, .brw-4p, .bbw-4p, .blw-4p, .bxw-4p, .byw-4p { border-width: 0; border-style: solid }

.bw-0     { border-width:        0 }
  .btw-0  { border-top-width:    0 }
  .brw-0  { border-right-width:  0 }
  .bbw-0  { border-bottom-width: 0 }
  .blw-0  { border-left-width:   0 }
  .bxw-0  { border-right-width:  0; border-left-width:   0 }
  .byw-0  { border-top-width:    0; border-bottom-width: 0 }

.bw-1p    { border-width:        1px }
  .btw-1p { border-top-width:    1px }
  .brw-1p { border-right-width:  1px }
  .bbw-1p { border-bottom-width: 1px }
  .blw-1p { border-left-width:   1px }
  .bxw-1p { border-right-width:  1px; border-left-width:   1px }
  .byw-1p { border-top-width:    1px; border-bottom-width: 1px }

.bw-2p    { border-width:        2px }
  .btw-2p { border-top-width:    2px }
  .brw-2p { border-right-width:  2px }
  .bbw-2p { border-bottom-width: 2px }
  .blw-2p { border-left-width:   2px }
  .bxw-2p { border-right-width:  2px; border-left-width:   2px }
  .byw-2p { border-top-width:    2px; border-bottom-width: 2px }

.bw-3p    { border-width:        3px }
  .btw-3p { border-top-width:    3px }
  .brw-3p { border-right-width:  3px }
  .bbw-3p { border-bottom-width: 3px }
  .blw-3p { border-left-width:   3px }
  .bxw-3p { border-right-width:  3px; border-left-width:   3px }
  .byw-3p { border-top-width:    3px; border-bottom-width: 3px }

.bw-4p    { border-width:        4px }
  .btw-4p { border-top-width:    4px }
  .brw-4p { border-right-width:  4px }
  .bbw-4p { border-bottom-width: 4px }
  .blw-4p { border-left-width:   4px }
  .bxw-4p { border-right-width:  4px; border-left-width:   4px }
  .byw-4p { border-top-width:    4px; border-bottom-width: 4px }
