/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.bc-w  { border-color: hsl(0, 0%, 100%); }
.bc-w\.9 { border-color: hsl(0, 0%, 90%); }
.bc-w\.8 { border-color: hsl(0, 0%, 80%); }
.bc-w\.7 { border-color: hsl(0, 0%, 70%); }
.bc-w\.6 { border-color: hsl(0, 0%, 60%); }
.bc-w\.5 { border-color: hsl(0, 0%, 60%); }
.bc-w\.4 { border-color: hsl(0, 0%, 40%); }
.bc-w\.3 { border-color: hsl(0, 0%, 30%); }
.bc-w\.2 { border-color: hsl(0, 0%, 20%); }
.bc-w\.1 { border-color: hsl(0, 0%, 10%); }
.bc-w\.0 { border-color: hsl(0, 0%, 0%); }
