/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* color design by @mrmrs. https://github.com/mrmrs/colors */

.bc-white   { border-color: #ffffff }
.bc-navy    { border-color: #001f3f }
.bc-blue    { border-color: #0074d9 }
.bc-aqua    { border-color: #7fdbff }
.bc-teal    { border-color: #39cccc }
.bc-olive   { border-color: #3d9970 }
.bc-green   { border-color: #2ecc40 }
.bc-lime    { border-color: #01ff70 }
.bc-yellow  { border-color: #ffdc00 }
.bc-orange  { border-color: #ff851b }
.bc-red     { border-color: #ff4136 }
.bc-maroon  { border-color: #85144b }
.bc-fuchsia { border-color: #f012be }
.bc-purple  { border-color: #b10dc9 }
.bc-gray    { border-color: #aaaaaa }
.bc-silver  { border-color: #dddddd }
.bc-black   { border-color: #111111 }
