/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.bc-k  { border-color: hsl(0, 0%, 0%); }
.bc-k\.9 { border-color: hsl(0, 0%, 10%); }
.bc-k\.8 { border-color: hsl(0, 0%, 20%); }
.bc-k\.7 { border-color: hsl(0, 0%, 30%); }
.bc-k\.6 { border-color: hsl(0, 0%, 40%); }
.bc-k\.5 { border-color: hsl(0, 0%, 50%); }
.bc-k\.4 { border-color: hsl(0, 0%, 60%); }
.bc-k\.3 { border-color: hsl(0, 0%, 70%); }
.bc-k\.2 { border-color: hsl(0, 0%, 80%); }
.bc-k\.1 { border-color: hsl(0, 0%, 90%); }
.bc-k\.0 { border-color: hsl(0, 0%, 100%); }
