/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.b-0,  .bt-0,  .br-0,  .bb-0,  .bl-0,  .bx-0,  .by-0,
.b-1p, .bt-1p, .br-1p, .bb-1p, .bl-1p, .bx-1p, .by-1p,
.b-2p, .bt-2p, .br-2p, .bb-2p, .bl-2p, .bx-2p, .by-2p,
.b-3p, .bt-3p, .br-3p, .bb-3p, .bl-3p, .bx-3p, .by-3p,
.b-4p, .bt-4p, .br-4p, .bb-4p, .bl-4p, .bx-4p, .by-4p { border-width: 0; border-style: solid }

.b-0     { border-width:        0 }
  .bt-0  { border-top-width:    0 }
  .br-0  { border-right-width:  0 }
  .bb-0  { border-bottom-width: 0 }
  .bl-0  { border-left-width:   0 }
  .bx-0  { border-right-width:  0; border-left-width:   0 }
  .by-0  { border-top-width:    0; border-bottom-width: 0 }

.b-1p    { border-width:        1px }
  .bt-1p { border-top-width:    1px }
  .br-1p { border-right-width:  1px }
  .bb-1p { border-bottom-width: 1px }
  .bl-1p { border-left-width:   1px }
  .bx-1p { border-right-width:  1px; border-left-width:   1px }
  .by-1p { border-top-width:    1px; border-bottom-width: 1px }

.b-2p    { border-width:        2px }
  .bt-2p { border-top-width:    2px }
  .br-2p { border-right-width:  2px }
  .bb-2p { border-bottom-width: 2px }
  .bl-2p { border-left-width:   2px }
  .bx-2p { border-right-width:  2px; border-left-width:   2px }
  .by-2p { border-top-width:    2px; border-bottom-width: 2px }

.b-3p    { border-width:        3px }
  .bt-3p { border-top-width:    3px }
  .br-3p { border-right-width:  3px }
  .bb-3p { border-bottom-width: 3px }
  .bl-3p { border-left-width:   3px }
  .bx-3p { border-right-width:  3px; border-left-width:   3px }
  .by-3p { border-top-width:    3px; border-bottom-width: 3px }

.b-4p    { border-width:        4px }
  .bt-4p { border-top-width:    4px }
  .br-4p { border-right-width:  4px }
  .bb-4p { border-bottom-width: 4px }
  .bl-4p { border-left-width:   4px }
  .bx-4p { border-right-width:  4px; border-left-width:   4px }
  .by-4p { border-top-width:    4px; border-bottom-width: 4px }
