/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.bc-w  { border-color: hsl(0, 0%, 100%); }
.bc-w9 { border-color: hsl(0, 0%, 90%); }
.bc-w8 { border-color: hsl(0, 0%, 80%); }
.bc-w7 { border-color: hsl(0, 0%, 70%); }
.bc-w6 { border-color: hsl(0, 0%, 60%); }
.bc-w5 { border-color: hsl(0, 0%, 60%); }
.bc-w4 { border-color: hsl(0, 0%, 40%); }
.bc-w3 { border-color: hsl(0, 0%, 30%); }
.bc-w2 { border-color: hsl(0, 0%, 20%); }
.bc-w1 { border-color: hsl(0, 0%, 10%); }
.bc-w0 { border-color: hsl(0, 0%, 0%); }
