/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.bc-white   { border-color: white; }
.bc-navy    { border-color: navy; }
.bc-blue    { border-color: blue; }
.bc-aqua    { border-color: aqua; }
.bc-teal    { border-color: teal; }
.bc-olive   { border-color: olive; }
.bc-green   { border-color: green; }
.bc-lime    { border-color: lime; }
.bc-yellow  { border-color: yellow; }
.bc-orange  { border-color: orange; }
.bc-red     { border-color: red; }
.bc-maroon  { border-color: maroon; }
.bc-fuchsia { border-color: fuchsia; }
.bc-purple  { border-color: purple; }
.bc-gray    { border-color: gray; }
.bc-silver  { border-color: silver; }
.bc-black   { border-color: black; }
