/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.bc-k  { border-color: hsl(0, 0%, 0%); }
.bc-k9 { border-color: hsl(0, 0%, 10%); }
.bc-k8 { border-color: hsl(0, 0%, 20%); }
.bc-k7 { border-color: hsl(0, 0%, 30%); }
.bc-k6 { border-color: hsl(0, 0%, 40%); }
.bc-k5 { border-color: hsl(0, 0%, 50%); }
.bc-k4 { border-color: hsl(0, 0%, 60%); }
.bc-k3 { border-color: hsl(0, 0%, 70%); }
.bc-k2 { border-color: hsl(0, 0%, 80%); }
.bc-k1 { border-color: hsl(0, 0%, 90%); }
.bc-k0 { border-color: hsl(0, 0%, 100%); }
