/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 543px) {
  .bw-0\@\!sm,  .btw-0\@sm,  .brw-0\@sm,  .bbw-0\@sm,  .blw-0\@sm,  .bxw-0\@sm,  .byw-0\@sm,
  .bw-1p\@\!sm, .btw-1p\@sm, .brw-1p\@sm, .bbw-1p\@sm, .blw-1p\@sm, .bxw-1p\@sm, .byw-1p\@sm,
  .bw-2p\@\!sm, .btw-2p\@sm, .brw-2p\@sm, .bbw-2p\@sm, .blw-2p\@sm, .bxw-2p\@sm, .byw-2p\@sm,
  .bw-3p\@\!sm, .btw-3p\@sm, .brw-3p\@sm, .bbw-3p\@sm, .blw-3p\@sm, .bxw-3p\@sm, .byw-3p\@sm,
  .bw-4p\@\!sm, .btw-4p\@sm, .brw-4p\@sm, .bbw-4p\@sm, .blw-4p\@sm, .bxw-4p\@sm, .byw-4p { border-width: 0; border-style: solid }

  .bw-0\@\!sm     { border-width:        0 }
    .btw-0\@\!sm  { border-top-width:    0 }
    .brw-0\@\!sm  { border-right-width:  0 }
    .bbw-0\@\!sm  { border-bottom-width: 0 }
    .blw-0\@\!sm  { border-left-width:   0 }
    .bxw-0\@\!sm  { border-right-width:  0; border-left-width:   0 }
    .byw-0\@\!sm  { border-top-width:    0; border-bottom-width: 0 }

  .bw-1p\@\!sm    { border-width:        1px }
    .btw-1p\@\!sm { border-top-width:    1px }
    .brw-1p\@\!sm { border-right-width:  1px }
    .bbw-1p\@\!sm { border-bottom-width: 1px }
    .blw-1p\@\!sm { border-left-width:   1px }
    .bxw-1p\@\!sm { border-right-width:  1px; border-left-width:   1px }
    .byw-1p\@\!sm { border-top-width:    1px; border-bottom-width: 1px }

  .bw-2p\@\!sm    { border-width:        2px }
    .btw-2p\@\!sm { border-top-width:    2px }
    .brw-2p\@\!sm { border-right-width:  2px }
    .bbw-2p\@\!sm { border-bottom-width: 2px }
    .blw-2p\@\!sm { border-left-width:   2px }
    .bxw-2p\@\!sm { border-right-width:  2px; border-left-width:   2px }
    .byw-2p\@\!sm { border-top-width:    2px; border-bottom-width: 2px }

  .bw-3p\@\!sm    { border-width:        3px }
    .btw-3p\@\!sm { border-top-width:    3px }
    .brw-3p\@\!sm { border-right-width:  3px }
    .bbw-3p\@\!sm { border-bottom-width: 3px }
    .blw-3p\@\!sm { border-left-width:   3px }
    .bxw-3p\@\!sm { border-right-width:  3px; border-left-width:   3px }
    .byw-3p\@\!sm { border-top-width:    3px; border-bottom-width: 3px }

  .bw-4p\@\!sm    { border-width:        4px }
    .btw-4p\@\!sm { border-top-width:    4px }
    .brw-4p\@\!sm { border-right-width:  4px }
    .bbw-4p\@\!sm { border-bottom-width: 4px }
    .blw-4p\@\!sm { border-left-width:   4px }
    .bxw-4p\@\!sm { border-right-width:  4px; border-left-width:   4px }
    .byw-4p\@\!sm { border-top-width:    4px; border-bottom-width: 4px }
}
