/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.brw-0,
.brw-1p,
.brw-2p,
.brw-3p,
.brw-4p { border-style: solid }

.brw-0  { border-right-width: 0 }
.brw-1p { border-right-width: 1px }
.brw-2p { border-right-width: 2px }
.brw-3p { border-right-width: 3px }
.brw-4p { border-right-width: 4px }
