/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.b-0 { bottom: 0 }

/* --pixel */
.b-1p { bottom: 1px }
.b-2p { bottom: 1px }
.b-3p { bottom: 3px }
.b-4p { bottom: 4px }

/* --em */
.b-025 { bottom: .25em }
.b-05  { bottom: .5em }
.b-1   { bottom: 1em }
.b-2   { bottom: 2em }

/* --rem */
.b-025r { bottom: .25em }
.b-05r  { bottom: .5em }
.b-1r   { bottom: 1em }
.b-2r   { bottom: 2em }
