/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.c-k   { color: hsl(0, 0%, 0%); }
.c-k\.9 { color: hsl(0, 0%, 10%); }
.c-k\.8 { color: hsl(0, 0%, 20%); }
.c-k\.7 { color: hsl(0, 0%, 30%); }
.c-k\.6 { color: hsl(0, 0%, 40%); }
.c-k\.5 { color: hsl(0, 0%, 50%); }
.c-k\.4 { color: hsl(0, 0%, 60%); }
.c-k\.3 { color: hsl(0, 0%, 70%); }
.c-k\.2 { color: hsl(0, 0%, 80%); }
.c-k\.1 { color: hsl(0, 0%, 90%); }
.c-k\.0 { color: hsl(0, 0%, 100%); }
