/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.c-w  { color: hsl(0, 0%, 100%); }
.c-w\.9 { color: hsl(0, 0%, 90%); }
.c-w\.8 { color: hsl(0, 0%, 80%); }
.c-w\.7 { color: hsl(0, 0%, 70%); }
.c-w\.6 { color: hsl(0, 0%, 60%); }
.c-w\.5 { color: hsl(0, 0%, 60%); }
.c-w\.4 { color: hsl(0, 0%, 40%); }
.c-w\.3 { color: hsl(0, 0%, 30%); }
.c-w\.2 { color: hsl(0, 0%, 20%); }
.c-w\.1 { color: hsl(0, 0%, 10%); }
.c-w\.0 { color: hsl(0, 0%, 0%); }
