/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.c-l    { color: hsl(0, 0%, 100%); }
.c-l\.9 { color: hsl(0, 0%, 90%); }
.c-l\.8 { color: hsl(0, 0%, 80%); }
.c-l\.7 { color: hsl(0, 0%, 70%); }
.c-l\.6 { color: hsl(0, 0%, 60%); }
.c-l\.5 { color: hsl(0, 0%, 60%); }
.c-l\.4 { color: hsl(0, 0%, 40%); }
.c-l\.3 { color: hsl(0, 0%, 30%); }
.c-l\.2 { color: hsl(0, 0%, 20%); }
.c-l\.1 { color: hsl(0, 0%, 10%); }
.c-l\.0 { color: hsl(0, 0%, 0%); }
