/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 991px) {
  .c-l\@\!lg    { color: hsl(0, 0%, 100%); }
  .c-l\.9\@\!lg { color: hsl(0, 0%, 90%); }
  .c-l\.8\@\!lg { color: hsl(0, 0%, 80%); }
  .c-l\.7\@\!lg { color: hsl(0, 0%, 70%); }
  .c-l\.6\@\!lg { color: hsl(0, 0%, 60%); }
  .c-l\.5\@\!lg { color: hsl(0, 0%, 60%); }
  .c-l\.4\@\!lg { color: hsl(0, 0%, 40%); }
  .c-l\.3\@\!lg { color: hsl(0, 0%, 30%); }
  .c-l\.2\@\!lg { color: hsl(0, 0%, 20%); }
  .c-l\.1\@\!lg { color: hsl(0, 0%, 10%); }
  .c-l\.0\@\!lg { color: hsl(0, 0%, 0%); }
}
