/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.c-k  { color: hsl(0, 0%, 0%); }
.c-k9 { color: hsl(0, 0%, 10%); }
.c-k8 { color: hsl(0, 0%, 20%); }
.c-k7 { color: hsl(0, 0%, 30%); }
.c-k6 { color: hsl(0, 0%, 40%); }
.c-k5 { color: hsl(0, 0%, 50%); }
.c-k4 { color: hsl(0, 0%, 60%); }
.c-k3 { color: hsl(0, 0%, 70%); }
.c-k2 { color: hsl(0, 0%, 80%); }
.c-k1 { color: hsl(0, 0%, 90%); }
.c-k0 { color: hsl(0, 0%, 100%); }
