/* minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 768px) {
  .c-l\@md    { color: hsl(0, 0%, 100%); }
  .c-l\.9\@md { color: hsl(0, 0%, 90%); }
  .c-l\.8\@md { color: hsl(0, 0%, 80%); }
  .c-l\.7\@md { color: hsl(0, 0%, 70%); }
  .c-l\.6\@md { color: hsl(0, 0%, 60%); }
  .c-l\.5\@md { color: hsl(0, 0%, 60%); }
  .c-l\.4\@md { color: hsl(0, 0%, 40%); }
  .c-l\.3\@md { color: hsl(0, 0%, 30%); }
  .c-l\.2\@md { color: hsl(0, 0%, 20%); }
  .c-l\.1\@md { color: hsl(0, 0%, 10%); }
  .c-l\.0\@md { color: hsl(0, 0%, 0%); }
}
