/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.c-w  { color: hsl(0, 0%, 100%); }
.c-w9 { color: hsl(0, 0%, 90%); }
.c-w8 { color: hsl(0, 0%, 80%); }
.c-w7 { color: hsl(0, 0%, 70%); }
.c-w6 { color: hsl(0, 0%, 60%); }
.c-w5 { color: hsl(0, 0%, 60%); }
.c-w4 { color: hsl(0, 0%, 40%); }
.c-w3 { color: hsl(0, 0%, 30%); }
.c-w2 { color: hsl(0, 0%, 20%); }
.c-w1 { color: hsl(0, 0%, 10%); }
.c-w0 { color: hsl(0, 0%, 0%); }
