/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 0) {
  .c-l\@mn    { color: hsl(0, 0%, 100%); }
  .c-l\.9\@mn { color: hsl(0, 0%, 90%); }
  .c-l\.8\@mn { color: hsl(0, 0%, 80%); }
  .c-l\.7\@mn { color: hsl(0, 0%, 70%); }
  .c-l\.6\@mn { color: hsl(0, 0%, 60%); }
  .c-l\.5\@mn { color: hsl(0, 0%, 60%); }
  .c-l\.4\@mn { color: hsl(0, 0%, 40%); }
  .c-l\.3\@mn { color: hsl(0, 0%, 30%); }
  .c-l\.2\@mn { color: hsl(0, 0%, 20%); }
  .c-l\.1\@mn { color: hsl(0, 0%, 10%); }
  .c-l\.0\@mn { color: hsl(0, 0%, 0%); }
}
