/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.c-white   { color: white; }
.c-navy    { color: navy; }
.c-blue    { color: blue; }
.c-aqua    { color: aqua; }
.c-teal    { color: teal; }
.c-olive   { color: olive; }
.c-green   { color: green; }
.c-lime    { color: lime; }
.c-yellow  { color: yellow; }
.c-orange  { color: orange; }
.c-red     { color: red; }
.c-maroon  { color: maroon; }
.c-fuchsia { color: fuchsia; }
.c-purple  { color: purple; }
.c-gray    { color: gray; }
.c-silver  { color: silver; }
.c-black   { color: black; }
