/* minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 991px) {
  .d-b\@\!lg  { display: block; }
  .d-i\@\!lg  { display: inline; }
  .d-ib\@\!lg { display: inline-block; }
  .d-n\@\!lg  { display: none; }

  .d-f\@\!lg  { display: flex; }
  .d-t\@\!lg  { display: table; }
  .d-tc\@\!lg { display: table-cell; }
  .d-tr\@\!lg { display: table-row; }
}
