/* minions.css | MIT License | https://github.com/chantastic/minions.css */

.d-b  { display: block; }
.d-i  { display: inline; }
.d-ib { display: inline-block; }
.d-n  { display: none; }

.d-f  { display: flex; }
.d-t  { display: table; }
.d-tc { display: table-cell; }
.d-tr { display: table-row; }
