//*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 768px) {
  .fw-n\@md  { flex-wrap: nowrap }
  .fw-w\@md   { flex-wrap: wrap }
  .fw-wr\@md  { flex-wrap: wrap-reverse }
}
