/* minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 0) {
  .fd-c\@mn { flex-direction: column }
  .fd-r\@mn { flex-direction: row }
  .fb-0\@mn { flex-basis: 0 }

  .f-1\@mn { flex: 1 }
  .f-2\@mn { flex: 2 }
  .f-3\@mn { flex: 3 }
  .f-4\@mn { flex: 4 }
  .f-5\@mn { flex: 5 }
  .f-6\@mn { flex: 6 }
}
