/* minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 543px) {
  .fd-c\@\!sm { flex-diection: column }
  .fd-r\@\!sm { flex-direction: row }
  .fb-0\@\!sm { flex-basis: 0 }

  .f-1\@\!sm { flex: 1 }
  .f-2\@\!sm { flex: 2 }
  .f-3\@\!sm { flex: 3 }
  .f-4\@\!sm { flex: 4 }
  .f-5\@\!sm { flex: 5 }
  .f-6\@\!sm { flex: 6 }
}
