//*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 0) {
  .fw-nw\@mn  { flex-wrap: nowrap }
  .fw-w\@mn   { flex-wrap: wrap }
  .fw-wr\@mn  { flex-wrap: wrap-reverse }
}
