/* minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 992px) {
  .fd-c\@lg { flex-direction: column }
  .fd-r\@lg { flex-direction: row }
  .fb-0\@lg { flex-basis: 0 }

  .f-1\@lg { flex: 1 }
  .f-2\@lg { flex: 2 }
  .f-3\@lg { flex: 3 }
  .f-4\@lg { flex: 4 }
  .f-5\@lg { flex: 5 }
  .f-6\@lg { flex: 6 }
}
