/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 1200px) {
  .fs-6p\@xl  { font-size: 6px }
  .fs-7p\@xl  { font-size: 7px }
  .fs-8p\@xl  { font-size: 8px }
  .fs-9p\@xl  { font-size: 9px }
  .fs-10p\@xl { font-size: 10px }
  .fs-11p\@xl { font-size: 11px }
  .fs-12p\@xl { font-size: 12px }
  .fs-14p\@xl { font-size: 14px }
  .fs-16p\@xl { font-size: 16px }
  .fs-18p\@xl { font-size: 18px }
  .fs-20p\@xl { font-size: 20px }
  .fs-24p\@xl { font-size: 24px }
  .fs-28p\@xl { font-size: 28px }
  .fs-32p\@xl { font-size: 32px }
  .fs-40p\@xl { font-size: 40px }
  .fs-48p\@xl { font-size: 48px }
  .fs-64p\@xl { font-size: 64px }
}
