/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* +1px */
.lh-6p  { line-height: 6px }  /* 0.375 em */
.lh-7p  { line-height: 7px }  /* 0.4375em */
.lh-8p  { line-height: 8px }  /* 0.5   em */
.lh-9p  { line-height: 9px }  /* 0.5625em */
.lh-10p { line-height: 10px } /* 0.625 em */
.lh-11p { line-height: 11px } /* 0.6875em */

/* +2px */
.lh-12p { line-height: 12px } /* 0.75  em */ /* 3px base */
.lh-14p { line-height: 14px } /* 0.875 em */
.lh-16p { line-height: 16px } /* 1     em */ /* 4px base */
.lh-18p { line-height: 18px } /* 1.125 em */

/* +4px */
.lh-20p { line-height: 20px } /* 1.25 em */  /* 5px base */
.lh-24p { line-height: 24px } /* 1.5  em */
.lh-28p { line-height: 28px } /* 1.75 em */
.lh-32p { line-height: 32px } /* 2    em */

/* +8px */
.lh-40p { line-height: 40px } /* 2.5  em */
.lh-48p { line-height: 48px } /* 3    em */

/* +16px */
.lh-64p { line-height: 64px } /* 4    em */

/* keywords */
.lh-n { line-height: normal }
.lh-i { line-height: initial }
.lh-u { line-height: unset }

/* unitless (font-size relative) */
.lh-1     { line-height: 1 }
.lh-1\.25 { line-height: 1.25 }
.lh-1\.5  { line-height: 1.5 }
.lh-1\.75 { line-height: 1.75 }
.lh-2     { line-height: 2 }
.lh-2\.5   { line-height: 2.5 }
.lh-3     { line-height: 3 }
.lh-4     { line-height: 4 }
