/*! minions.css | MIT License | https://github.com/chantastic/minions.css */
.lst-d  { list-style-type: disc }
.lst-c  { list-style-type: circle }
.lst-s  { list-style-type: square }
.lst-l  { list-style-type: decimal }
.lst-g  { list-style-type: georgian }
.lst-ci { list-style-type: cjk-ideographic }
.lst-k  { list-style-type: kannada }
.lst-n  { list-style-type: none }
.lst-i  { list-style-type: initial }
.lst-u  { list-style-type: unset }
