/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 319px) {
  .m-0\@\!xs   { margin:        0 }
  .mt-0\@\!xs  { margin-top:    0 }
  .mr-0\@\!xs  { margin-right:  0 }
  .mb-0\@\!xs  { margin-bottom: 0 }
  .ml-0\@\!xs  { margin-left:   0 }
  .mx-0\@\!xs  { margin-right:  0; margin-left:   0 }
  .my-0\@\!xs  { margin-top:    0; margin-bottom: 0 }

  /* -- px */

  .m-1p\@\!xs  { margin:        1px }
  .mt-1p\@\!xs { margin-top:    1px }
  .mr-1p\@\!xs { margin-right:  1px }
  .mb-1p\@\!xs { margin-bottom: 1px }
  .ml-1p\@\!xs { margin-left:   1px }
  .mx-1p\@\!xs { margin-right:  1px; margin-left:   1px }
  .my-1p\@\!xs { margin-top:    1px; margin-bottom: 1px }

  .m-2p\@\!xs  { margin:        2px }
  .mt-2p\@\!xs { margin-top:    2px }
  .mr-2p\@\!xs { margin-right:  2px }
  .mb-2p\@\!xs { margin-bottom: 2px }
  .ml-2p\@\!xs { margin-left:   2px }
  .mx-2p\@\!xs { margin-right:  2px; margin-left:   2px }
  .my-2p\@\!xs { margin-top:    2px; margin-bottom: 2px }

  .m-3p\@\!xs  { margin:        3px }
  .mt-3p\@\!xs { margin-top:    3px }
  .mr-3p\@\!xs { margin-right:  3px }
  .mb-3p\@\!xs { margin-bottom: 3px }
  .ml-3p\@\!xs { margin-left:   3px }
  .mx-3p\@\!xs { margin-right:  3px; margin-left:   3px }
  .my-3p\@\!xs { margin-top:    3px; margin-bottom: 3px }

  .m-4p\@\!xs  { margin:        4px }
  .mt-4p\@\!xs { margin-top:    4px }
  .mr-4p\@\!xs { margin-right:  4px }
  .mb-4p\@\!xs { margin-bottom: 4px }
  .ml-4p\@\!xs { margin-left:   4px }
  .mx-4p\@\!xs { margin-right:  4px; margin-left:   4px }
  .my-4p\@\!xs { margin-top:    4px; margin-bottom: 4px }

  /* -- em */

  .m-025\@\!xs  { margin:        .25em }
  .mt-025\@\!xs { margin-top:    .25em }
  .mr-025\@\!xs { margin-right:  .25em }
  .mb-025\@\!xs { margin-bottom: .25em }
  .ml-025\@\!xs { margin-left:   .25em }
  .mx-025\@\!xs { margin-right:  .25em; margin-left:   .25em }
  .my-025\@\!xs { margin-top:    .25em; margin-bottom: .25em }

  .m-05\@\!xs  { margin:        .5em }
  .mt-05\@\!xs { margin-top:    .5em }
  .mr-05\@\!xs { margin-right:  .5em }
  .mb-05\@\!xs { margin-bottom: .5em }
  .ml-05\@\!xs { margin-left:   .5em }
  .mx-05\@\!xs { margin-right:  .5em; margin-left:   .5em }
  .my-05\@\!xs { margin-top:    .5em; margin-bottom: .5em }

  .m-1\@\!xs   { margin:        1em }
  .mt-1\@\!xs  { margin-top:    1em }
  .mr-1\@\!xs  { margin-right:  1em }
  .mb-1\@\!xs  { margin-bottom: 1em }
  .ml-1\@\!xs  { margin-left:   1em }
  .mx-1\@\!xs  { margin-right:  1em; margin-left:   1em }
  .my-1\@\!xs  { margin-top:    1em; margin-bottom: 1em }

  .m-2\@\!xs    { margin:        2em }
  .mt-2\@\!xs { margin-top:    2em }
  .mr-2\@\!xs { margin-right:  2em }
  .mb-2\@\!xs { margin-bottom: 2em }
  .ml-2\@\!xs { margin-left:   2em }
  .mx-2\@\!xs { margin-right:  2em; margin-left:   .2em }
  .my-2\@\!xs { margin-top:    2em; margin-bottom: .2em }

  /* -- rem */

  .m-025r\@\!xs  { margin:        .25em }
  .mt-025r\@\!xs { margin-top:    .25em }
  .mr-025r\@\!xs { margin-right:  .25em }
  .mb-025r\@\!xs { margin-bottom: .25em }
  .ml-025r\@\!xs { margin-left:   .25em }
  .mx-025r\@\!xs { margin-right:  .25em; margin-left:   .25em }
  .my-025r\@\!xs { margin-top:    .25em; margin-bottom: .25em }

  .m-05r\@\!xs   { margin:        .5rem }
  .mt-05r\@\!xs  { margin-top:    .5rem }
  .mr-05r\@\!xs  { margin-right:  .5rem }
  .mb-05r\@\!xs  { margin-bottom: .5rem }
  .ml-05r\@\!xs  { margin-left:   .5rem }
  .mx-05r\@\!xs  { margin-right:  .5rem; margin-left:   .5rem }
  .my-05r\@\!xs  { margin-top:    .5rem; margin-bottom: .5rem }

  .m-1r\@\!xs   { margin:        1rem }
  .mt-1r\@\!xs  { margin-top:    1rem }
  .mr-1r\@\!xs  { margin-right:  1rem }
  .mb-1r\@\!xs  { margin-bottom: 1rem }
  .ml-1r\@\!xs  { margin-left:   1rem }
  .mx-1r\@\!xs  { margin-right:  1rem; margin-left:   1rem }
  .my-1r\@\!xs  { margin-top:    1rem; margin-bottom: 1rem }

  .m-2r\@\!xs   { margin:        2rem }
  .mt-2r\@\!xs  { margin-top:    2rem }
  .mr-2r\@\!xs  { margin-right:  2rem }
  .mb-2r\@\!xs  { margin-bottom: 2rem }
  .ml-2r\@\!xs  { margin-left:   2rem }
  .mx-2r\@\!xs  { margin-right:  2rem; margin-left:   2rem }
  .my-2r\@\!xs  { margin-top:    2rem; margin-bottom: 2rem }

  .m-0xa\@\!xs { margin: 0 auto }
}
