/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 767px) {
  .m-0\@\!md   { margin:        0 }
  .mt-0\@\!md  { margin-top:    0 }
  .mr-0\@\!md  { margin-right:  0 }
  .mb-0\@\!md  { margin-bottom: 0 }
  .ml-0\@\!md  { margin-left:   0 }
  .mx-0\@\!md  { margin-right:  0; margin-left:   0 }
  .my-0\@\!md  { margin-top:    0; margin-bottom: 0 }

  /* -- px */

  .m-1p\@\!md  { margin:        1px }
  .mt-1p\@\!md { margin-top:    1px }
  .mr-1p\@\!md { margin-right:  1px }
  .mb-1p\@\!md { margin-bottom: 1px }
  .ml-1p\@\!md { margin-left:   1px }
  .mx-1p\@\!md { margin-right:  1px; margin-left:   1px }
  .my-1p\@\!md { margin-top:    1px; margin-bottom: 1px }

  .m-2p\@\!md  { margin:        2px }
  .mt-2p\@\!md { margin-top:    2px }
  .mr-2p\@\!md { margin-right:  2px }
  .mb-2p\@\!md { margin-bottom: 2px }
  .ml-2p\@\!md { margin-left:   2px }
  .mx-2p\@\!md { margin-right:  2px; margin-left:   2px }
  .my-2p\@\!md { margin-top:    2px; margin-bottom: 2px }

  .m-3p\@\!md  { margin:        3px }
  .mt-3p\@\!md { margin-top:    3px }
  .mr-3p\@\!md { margin-right:  3px }
  .mb-3p\@\!md { margin-bottom: 3px }
  .ml-3p\@\!md { margin-left:   3px }
  .mx-3p\@\!md { margin-right:  3px; margin-left:   3px }
  .my-3p\@\!md { margin-top:    3px; margin-bottom: 3px }

  .m-4p\@\!md  { margin:        4px }
  .mt-4p\@\!md { margin-top:    4px }
  .mr-4p\@\!md { margin-right:  4px }
  .mb-4p\@\!md { margin-bottom: 4px }
  .ml-4p\@\!md { margin-left:   4px }
  .mx-4p\@\!md { margin-right:  4px; margin-left:   4px }
  .my-4p\@\!md { margin-top:    4px; margin-bottom: 4px }

  /* -- em */

  .m-025\@\!md  { margin:        .25em }
  .mt-025\@\!md { margin-top:    .25em }
  .mr-025\@\!md { margin-right:  .25em }
  .mb-025\@\!md { margin-bottom: .25em }
  .ml-025\@\!md { margin-left:   .25em }
  .mx-025\@\!md { margin-right:  .25em; margin-left:   .25em }
  .my-025\@\!md { margin-top:    .25em; margin-bottom: .25em }

  .m-05\@\!md  { margin:        .5em }
  .mt-05\@\!md { margin-top:    .5em }
  .mr-05\@\!md { margin-right:  .5em }
  .mb-05\@\!md { margin-bottom: .5em }
  .ml-05\@\!md { margin-left:   .5em }
  .mx-05\@\!md { margin-right:  .5em; margin-left:   .5em }
  .my-05\@\!md { margin-top:    .5em; margin-bottom: .5em }

  .m-1\@\!md   { margin:        1em }
  .mt-1\@\!md  { margin-top:    1em }
  .mr-1\@\!md  { margin-right:  1em }
  .mb-1\@\!md  { margin-bottom: 1em }
  .ml-1\@\!md  { margin-left:   1em }
  .mx-1\@\!md  { margin-right:  1em; margin-left:   1em }
  .my-1\@\!md  { margin-top:    1em; margin-bottom: 1em }

  .m-2\@\!md  { margin:        2em }
  .mt-2\@\!md { margin-top:    2em }
  .mr-2\@\!md { margin-right:  2em }
  .mb-2\@\!md { margin-bottom: 2em }
  .ml-2\@\!md { margin-left:   2em }
  .mx-2\@\!md { margin-right:  2em; margin-left:   .2em }
  .my-2\@\!md { margin-top:    2em; margin-bottom: .2em }

  .m-3\@\!md  { margin:        3em }
  .mt-3\@\!md { margin-top:    3em }
  .mr-3\@\!md { margin-right:  3em }
  .mb-3\@\!md { margin-bottom: 3em }
  .ml-3\@\!md { margin-left:   3em }
  .mx-3\@\!md { margin-right:  3em; margin-left:   .3em }
  .my-3\@\!md { margin-top:    3em; margin-bottom: .3em }

  .m-4\@\!md  { margin:        4em }
  .mt-4\@\!md { margin-top:    4em }
  .mr-4\@\!md { margin-right:  4em }
  .mb-4\@\!md { margin-bottom: 4em }
  .ml-4\@\!md { margin-left:   4em }
  .mx-4\@\!md { margin-right:  4em; margin-left:   .4em }
  .my-4\@\!md { margin-top:    4em; margin-bottom: .4em }

  /* -- rem */

  .m-025r\@\!md  { margin:        .25em }
  .mt-025r\@\!md { margin-top:    .25em }
  .mr-025r\@\!md { margin-right:  .25em }
  .mb-025r\@\!md { margin-bottom: .25em }
  .ml-025r\@\!md { margin-left:   .25em }
  .mx-025r\@\!md { margin-right:  .25em; margin-left:   .25em }
  .my-025r\@\!md { margin-top:    .25em; margin-bottom: .25em }

  .m-05r\@\!md   { margin:        .5rem }
  .mt-05r\@\!md  { margin-top:    .5rem }
  .mr-05r\@\!md  { margin-right:  .5rem }
  .mb-05r\@\!md  { margin-bottom: .5rem }
  .ml-05r\@\!md  { margin-left:   .5rem }
  .mx-05r\@\!md  { margin-right:  .5rem; margin-left:   .5rem }
  .my-05r\@\!md  { margin-top:    .5rem; margin-bottom: .5rem }

  .m-1r\@\!md   { margin:        1rem }
  .mt-1r\@\!md  { margin-top:    1rem }
  .mr-1r\@\!md  { margin-right:  1rem }
  .mb-1r\@\!md  { margin-bottom: 1rem }
  .ml-1r\@\!md  { margin-left:   1rem }
  .mx-1r\@\!md  { margin-right:  1rem; margin-left:   1rem }
  .my-1r\@\!md  { margin-top:    1rem; margin-bottom: 1rem }

  .m-2r\@\!md   { margin:        2rem }
  .mt-2r\@\!md  { margin-top:    2rem }
  .mr-2r\@\!md  { margin-right:  2rem }
  .mb-2r\@\!md  { margin-bottom: 2rem }
  .ml-2r\@\!md  { margin-left:   2rem }
  .mx-2r\@\!md  { margin-right:  2rem; margin-left:   2rem }
  .my-2r\@\!md  { margin-top:    2rem; margin-bottom: 2rem }

  .m-3r\@\!md   { margin:        3rem }
  .mt-3r\@\!md  { margin-top:    3rem }
  .mr-3r\@\!md  { margin-right:  3rem }
  .mb-3r\@\!md  { margin-bottom: 3rem }
  .ml-3r\@\!md  { margin-left:   3rem }
  .mx-3r\@\!md  { margin-right:  3rem; margin-left:   3rem }
  .my-3r\@\!md  { margin-top:    3rem; margin-bottom: 3rem }

  .m-4r\@\!md   { margin:        4rem }
  .mt-4r\@\!md  { margin-top:    4rem }
  .mr-4r\@\!md  { margin-right:  4rem }
  .mb-4r\@\!md  { margin-bottom: 4rem }
  .ml-4r\@\!md  { margin-left:   4rem }
  .mx-4r\@\!md  { margin-right:  4rem; margin-left:   4rem }
  .my-4r\@\!md  { margin-top:    4rem; margin-bottom: 4rem }

  .m-0xa\@\!md { margin: 0 auto }
}
