/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.mx-0 { margin-right: 0; margin-left:0 }

.mx-1p { margin-right: 1px; margin-left: 1px }
.mx-2p { margin-right: 2px; margin-left: 2px }
.mx-3p { margin-right: 3px; margin-left: 3px }
.mx-4p { margin-right: 4px; margin-left: 4px }

.mx-/.25e { margin-right: .25em; margin-left: .25em }
.mx-/.5e { margin-right: .5em; margin-left: .5em }
.mx-/.75e { margin-right: .75em; margin-left: .75em }
.mx-1e { margin-right: 1em; margin-left: 1em }
.mx-2e { margin-right: 2em; margin-left: 2em }
.mx-3e { margin-right: 3em; margin-left: 3em }
.mx-4e { margin-right: 4em; margin-left: 4em }

.mx-/.25r { margin-right: .25rem; margin-left: .25rem }
.mx-/.5r { margin-right: .5rem; margin-left: .5rem }
.mx-/.75r { margin-right: .75rem; margin-left: .75rem }
.mx-1r { margin-right: 1rem; margin-left: 1rem }
.mx-2r { margin-right: 2rem; margin-left: 2rem }
.mx-3r { margin-right: 3rem; margin-left: 3rem }
.mx-4r { margin-right: 4rem; margin-left: 4rem }
