/*! minions.css */
.mt-0{margin-top:0}
.mt-1p{margin-top:1px}
.mt-2p{margin-top:2px}
.mt-3p{margin-top:3px}
.mt-4p{margin-top:4px}
.mt-\.25e{margin-top:.25em}
.mt-\.5e{margin-top:.5em}
.mt-1e{margin-top:1em}
.mt-2e{margin-top:2em}
.mt-3e{margin-top:3em}
.mt-4e{margin-top:4em}
.mt-\.25r{margin-top:.25rem}
.mt-\.5r{margin-top:.5rem}
.mt-1r{margin-top:1rem}
.mt-2r{margin-top:2rem}
.mt-3r{margin-top:3rem}
.mt-4r{margin-top:4rem}
