/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.m_0     > * { margin:        0 }
  .mt_0  > * { margin-top:    0 }
  .mr_0  > * { margin-right:  0 }
  .mb_0  > * { margin-bottom: 0 }
  .ml_0  > * { margin-left:   0 }
  .mx_0  > * { margin-right:  0; margin-left:   0 }
  .my_0  > * { margin-top:    0; margin-bottom: 0 }

/* -- px */

.m_1p    > * { margin:        1px }
  .mt_1p > * { margin-top:    1px }
  .mr_1p > * { margin-right:  1px }
  .mb_1p > * { margin-bottom: 1px }
  .ml_1p > * { margin-left:   1px }
  .mx_1p > * { margin-right:  1px; margin-left:   1px }
  .my_1p > * { margin-top:    1px; margin-bottom: 1px }

.m_2p    > * { margin:        2px }
  .mt_2p > * { margin-top:    2px }
  .mr_2p > * { margin-right:  2px }
  .mb_2p > * { margin-bottom: 2px }
  .ml_2p > * { margin-left:   2px }
  .mx_2p > * { margin-right:  2px; margin-left:   2px }
  .my_2p > * { margin-top:    2px; margin-bottom: 2px }

.m_3p    > * { margin:        3px }
  .mt_3p > * { margin-top:    3px }
  .mr_3p > * { margin-right:  3px }
  .mb_3p > * { margin-bottom: 3px }
  .ml_3p > * { margin-left:   3px }
  .mx_3p > * { margin-right:  3px; margin-left:   3px }
  .my_3p > * { margin-top:    3px; margin-bottom: 3px }

.m_4p    > * { margin:        4px }
  .mt_4p > * { margin-top:    4px }
  .mr_4p > * { margin-right:  4px }
  .mb_4p > * { margin-bottom: 4px }
  .ml_4p > * { margin-left:   4px }
  .mx_4p > * { margin-right:  4px; margin-left:   4px }
  .my_4p > * { margin-top:    4px; margin-bottom: 4px }

/* -- em */

.m_025    > * { margin:        .25em }
  .mt_025 > * { margin-top:    .25em }
  .mr_025 > * { margin-right:  .25em }
  .mb_025 > * { margin-bottom: .25em }
  .ml_025 > * { margin-left:   .25em }
  .mx_025 > * { margin-right:  .25em; margin-left:   .25em }
  .my_025 > * { margin-top:    .25em; margin-bottom: .25em }

.m_05    > * { margin:        .5em }
  .mt_05 > * { margin-top:    .5em }
  .mr_05 > * { margin-right:  .5em }
  .mb_05 > * { margin-bottom: .5em }
  .ml_05 > * { margin-left:   .5em }
  .mx_05 > * { margin-right:  .5em; margin-left:   .5em }
  .my_05 > * { margin-top:    .5em; margin-bottom: .5em }

.m_1     > * { margin:        1em }
  .mt_1  > * { margin-top:    1em }
  .mr_1  > * { margin-right:  1em }
  .mb_1  > * { margin-bottom: 1em }
  .ml_1  > * { margin-left:   1em }
  .mx_1  > * { margin-right:  1em; margin-left:   1em }
  .my_1  > * { margin-top:    1em; margin-bottom: 1em }

.m_2    > * { margin:        2em }
  .mt_2 > * { margin-top:    2em }
  .mr_2 > * { margin-right:  2em }
  .mb_2 > * { margin-bottom: 2em }
  .ml_2 > * { margin-left:   2em }
  .mx_2 > * { margin-right:  2em; margin-left:   .2em }
  .my_2 > * { margin-top:    2em; margin-bottom: .2em }

.m_3    > * { margin:        3em }
  .mt_3 > * { margin-top:    3em }
  .mr_3 > * { margin-right:  3em }
  .mb_3 > * { margin-bottom: 3em }
  .ml_3 > * { margin-left:   3em }
  .mx_3 > * { margin-right:  3em; margin-left:   .3em }
  .my_3 > * { margin-top:    3em; margin-bottom: .3em }

.m_4    > * { margin:        4em }
  .mt_4 > * { margin-top:    4em }
  .mr_4 > * { margin-right:  4em }
  .mb_4 > * { margin-bottom: 4em }
  .ml_4 > * { margin-left:   4em }
  .mx_4 > * { margin-right:  4em; margin-left:   .4em }
  .my_4 > * { margin-top:    4em; margin-bottom: .4em }

/* -- rem */

.m_025r    > * { margin:        .25rem }
  .mt_025r > * { margin-top:    .25rem }
  .mr_025r > * { margin-right:  .25rem }
  .mb_025r > * { margin-bottom: .25rem }
  .ml_025r > * { margin-left:   .25rem }
  .mx_025r > * { margin-right:  .25rem; margin-left:   .25rem }
  .my_025r > * { margin-top:    .25rem; margin-bottom: .25rem }

.m_05r     > * { margin:        .5rem }
  .mt_05r  > * { margin-top:    .5rem }
  .mr_05r  > * { margin-right:  .5rem }
  .mb_05r  > * { margin-bottom: .5rem }
  .ml_05r  > * { margin-left:   .5rem }
  .mx_05r  > * { margin-right:  .5rem; margin-left:   .5rem }
  .my_05r  > * { margin-top:    .5rem; margin-bottom: .5rem }

.m_1r     > * { margin:        1rem }
  .mt_1r  > * { margin-top:    1rem }
  .mr_1r  > * { margin-right:  1rem }
  .mb_1r  > * { margin-bottom: 1rem }
  .ml_1r  > * { margin-left:   1rem }
  .mx_1r  > * { margin-right:  1rem; margin-left:   1rem }
  .my_1r  > * { margin-top:    1rem; margin-bottom: 1rem }

.m_2r     > * { margin:        2rem }
  .mt_2r  > * { margin-top:    2rem }
  .mr_2r  > * { margin-right:  2rem }
  .mb_2r  > * { margin-bottom: 2rem }
  .ml_2r  > * { margin-left:   2rem }
  .mx_2r  > * { margin-right:  2rem; margin-left:   2rem }
  .my_2r  > * { margin-top:    2rem; margin-bottom: 2rem }

.m_3r     > * { margin:        3rem }
  .mt_3r  > * { margin-top:    3rem }
  .mr_3r  > * { margin-right:  3rem }
  .mb_3r  > * { margin-bottom: 3rem }
  .ml_3r  > * { margin-left:   3rem }
  .mx_3r  > * { margin-right:  3rem; margin-left:   3rem }
  .my_3r  > * { margin-top:    3rem; margin-bottom: 3rem }

.m_4r     > * { margin:        4rem }
  .mt_4r  > * { margin-top:    4rem }
  .mr_4r  > * { margin-right:  4rem }
  .mb_4r  > * { margin-bottom: 4rem }
  .ml_4r  > * { margin-left:   4rem }
  .mx_4r  > * { margin-right:  4rem; margin-left:   4rem }
  .my_4r  > * { margin-top:    4rem; margin-bottom: 4rem }
