/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 544px) {

  .m-0\@sm   { margin:        0 }
  .mt-0\@sm  { margin-top:    0 }
  .mr-0\@sm  { margin-right:  0 }
  .mb-0\@sm  { margin-bottom: 0 }
  .ml-0\@sm  { margin-left:   0 }
  .mx-0\@sm  { margin-right:  0; margin-left:   0 }
  .my-0\@sm  { margin-top:    0; margin-bottom: 0 }

  /* -- px */

  .m-1p\@sm  { margin:        1px }
  .mt-1p\@sm { margin-top:    1px }
  .mr-1p\@sm { margin-right:  1px }
  .mb-1p\@sm { margin-bottom: 1px }
  .ml-1p\@sm { margin-left:   1px }
  .mx-1p\@sm { margin-right:  1px; margin-left:   1px }
  .my-1p\@sm { margin-top:    1px; margin-bottom: 1px }

  .m-2p\@sm  { margin:        2px }
  .mt-2p\@sm { margin-top:    2px }
  .mr-2p\@sm { margin-right:  2px }
  .mb-2p\@sm { margin-bottom: 2px }
  .ml-2p\@sm { margin-left:   2px }
  .mx-2p\@sm { margin-right:  2px; margin-left:   2px }
  .my-2p\@sm { margin-top:    2px; margin-bottom: 2px }

  .m-3p\@sm  { margin:        3px }
  .mt-3p\@sm { margin-top:    3px }
  .mr-3p\@sm { margin-right:  3px }
  .mb-3p\@sm { margin-bottom: 3px }
  .ml-3p\@sm { margin-left:   3px }
  .mx-3p\@sm { margin-right:  3px; margin-left:   3px }
  .my-3p\@sm { margin-top:    3px; margin-bottom: 3px }

  .m-4p\@sm  { margin:        4px }
  .mt-4p\@sm { margin-top:    4px }
  .mr-4p\@sm { margin-right:  4px }
  .mb-4p\@sm { margin-bottom: 4px }
  .ml-4p\@sm { margin-left:   4px }
  .mx-4p\@sm { margin-right:  4px; margin-left:   4px }
  .my-4p\@sm { margin-top:    4px; margin-bottom: 4px }

  /* -- em */

  .m-025\@sm  { margin:        .25em }
  .mt-025\@sm { margin-top:    .25em }
  .mr-025\@sm { margin-right:  .25em }
  .mb-025\@sm { margin-bottom: .25em }
  .ml-025\@sm { margin-left:   .25em }
  .mx-025\@sm { margin-right:  .25em; margin-left:   .25em }
  .my-025\@sm { margin-top:    .25em; margin-bottom: .25em }

  .m-05\@sm  { margin:        .5em }
  .mt-05\@sm { margin-top:    .5em }
  .mr-05\@sm { margin-right:  .5em }
  .mb-05\@sm { margin-bottom: .5em }
  .ml-05\@sm { margin-left:   .5em }
  .mx-05\@sm { margin-right:  .5em; margin-left:   .5em }
  .my-05\@sm { margin-top:    .5em; margin-bottom: .5em }

  .m-1\@sm   { margin:        1em }
  .mt-1\@sm  { margin-top:    1em }
  .mr-1\@sm  { margin-right:  1em }
  .mb-1\@sm  { margin-bottom: 1em }
  .ml-1\@sm  { margin-left:   1em }
  .mx-1\@sm  { margin-right:  1em; margin-left:   1em }
  .my-1\@sm  { margin-top:    1em; margin-bottom: 1em }

  .m-2\@sm  { margin:        2em }
  .mt-2\@sm { margin-top:    2em }
  .mr-2\@sm { margin-right:  2em }
  .mb-2\@sm { margin-bottom: 2em }
  .ml-2\@sm { margin-left:   2em }
  .mx-2\@sm { margin-right:  2em; margin-left:   .2em }
  .my-2\@sm { margin-top:    2em; margin-bottom: .2em }

  .m-3\@sm  { margin:        3em }
  .mt-3\@sm { margin-top:    3em }
  .mr-3\@sm { margin-right:  3em }
  .mb-3\@sm { margin-bottom: 3em }
  .ml-3\@sm { margin-left:   3em }
  .mx-3\@sm { margin-right:  3em; margin-left:   .3em }
  .my-3\@sm { margin-top:    3em; margin-bottom: .3em }

  .m-4\@sm  { margin:        4em }
  .mt-4\@sm { margin-top:    4em }
  .mr-4\@sm { margin-right:  4em }
  .mb-4\@sm { margin-bottom: 4em }
  .ml-4\@sm { margin-left:   4em }
  .mx-4\@sm { margin-right:  4em; margin-left:   .4em }
  .my-4\@sm { margin-top:    4em; margin-bottom: .4em }

  /* -- rem */

  .m-025r\@sm  { margin:        .25em }
  .mt-025r\@sm { margin-top:    .25em }
  .mr-025r\@sm { margin-right:  .25em }
  .mb-025r\@sm { margin-bottom: .25em }
  .ml-025r\@sm { margin-left:   .25em }
  .mx-025r\@sm { margin-right:  .25em; margin-left:   .25em }
  .my-025r\@sm { margin-top:    .25em; margin-bottom: .25em }

  .m-05r\@sm   { margin:        .5rem }
  .mt-05r\@sm  { margin-top:    .5rem }
  .mr-05r\@sm  { margin-right:  .5rem }
  .mb-05r\@sm  { margin-bottom: .5rem }
  .ml-05r\@sm  { margin-left:   .5rem }
  .mx-05r\@sm  { margin-right:  .5rem; margin-left:   .5rem }
  .my-05r\@sm  { margin-top:    .5rem; margin-bottom: .5rem }

  .m-1r\@sm   { margin:        1rem }
  .mt-1r\@sm  { margin-top:    1rem }
  .mr-1r\@sm  { margin-right:  1rem }
  .mb-1r\@sm  { margin-bottom: 1rem }
  .ml-1r\@sm  { margin-left:   1rem }
  .mx-1r\@sm  { margin-right:  1rem; margin-left:   1rem }
  .my-1r\@sm  { margin-top:    1rem; margin-bottom: 1rem }

  .m-2r\@sm   { margin:        2rem }
  .mt-2r\@sm  { margin-top:    2rem }
  .mr-2r\@sm  { margin-right:  2rem }
  .mb-2r\@sm  { margin-bottom: 2rem }
  .ml-2r\@sm  { margin-left:   2rem }
  .mx-2r\@sm  { margin-right:  2rem; margin-left:   2rem }
  .my-2r\@sm  { margin-top:    2rem; margin-bottom: 2rem }

  .m-3r\@sm   { margin:        3rem }
  .mt-3r\@sm  { margin-top:    3rem }
  .mr-3r\@sm  { margin-right:  3rem }
  .mb-3r\@sm  { margin-bottom: 3rem }
  .ml-3r\@sm  { margin-left:   3rem }
  .mx-3r\@sm  { margin-right:  3rem; margin-left:   3rem }
  .my-3r\@sm  { margin-top:    3rem; margin-bottom: 3rem }

  .m-4r\@sm   { margin:        4rem }
  .mt-4r\@sm  { margin-top:    4rem }
  .mr-4r\@sm  { margin-right:  4rem }
  .mb-4r\@sm  { margin-bottom: 4rem }
  .ml-4r\@sm  { margin-left:   4rem }
  .mx-4r\@sm  { margin-right:  4rem; margin-left:   4rem }
  .my-4r\@sm  { margin-top:    4rem; margin-bottom: 4rem }

  .m-0xa\@sm { margin: 0 auto }
}
