/* display */

.d-b  { display: block; }
.d-i  { display: inline; }
.d-ib { display: inline-block; }
.d-n  { display: none; }

.d-f  { display: flex; }
.d-t  { display: table; }
.d-tc { display: table-cell; }

/* float */

.f-l { float: left; }
.f-n { float: none; }
.f-r { float: right; }

/* visibility */

.v-h { visibility: hidden; }
.v-v { visibility: visible; }

/* opacity */

.o-0  { opacity: 0 }
.o-01 { opacity: .1 }
.o-02 { opacity: .2 }
.o-03 { opacity: .3 }
.o-04 { opacity: .4 }
.o-05 { opacity: .5 }
.o-06 { opacity: .6 }
.o-07 { opacity: .7 }
.o-08 { opacity: .8 }
.o-09 { opacity: .9 }
.o-1  { opacity: 1 }

/* opacity */

.o-a { overflow: auto }
.o-h { overflow: hidden }
.o-s { overflow: scroll }
.o-v { overflow: visible }

.ox-a { overflow-x: auto }
.ox-h { overflow-x: hidden }
.ox-s { overflow-x: scroll }
.ox-v { overflow-x: visible }

.oy-a { overflow-y: auto }
.oy-h { overflow-y: hidden }
.oy-s { overflow-y: scroll }
.oy-v { overflow-y: visible }

.-wos {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

/* margin */

.m-0  { margin: 0 }
.m-1  { margin: 1px }
.m-2  { margin: 2px }
.m-3  { margin: 3px }
.m-4  { margin: 4px }
.m-5  { margin: 5px }
.m-6  { margin: 6px }
.m-7  { margin: 7px }
.m-8  { margin: 8px }
.m-9  { margin: 9px }
.m-10 { margin: 10px }
.m-11 { margin: 11px }
.m-12 { margin: 12px }
.m-13 { margin: 13px }
.m-14 { margin: 14px }
.m-15 { margin: 15px }
.m-16 { margin: 16px }
.m-17 { margin: 17px }
.m-18 { margin: 18px }
.m-19 { margin: 19px }
.m-20 { margin: 20px }
.m-21 { margin: 21px }
.m-22 { margin: 22px }
.m-23 { margin: 23px }
.m-24 { margin: 24px }
.m-25 { margin: 25px }
.m-26 { margin: 26px }
.m-27 { margin: 27px }
.m-28 { margin: 28px }
.m-29 { margin: 29px }
.m-30 { margin: 30px }
.m-31 { margin: 31px }
.m-32 { margin: 32px }

.m-1x  { margin: 1em }
.m-2x  { margin: 2em }
.m-3x  { margin: 3em }
.m-4x  { margin: 4em }
.m-5x  { margin: 5em }

.m-1xr  { margin: 1rem }
.m-2xr  { margin: 2rem }
.m-3xr  { margin: 3rem }
.m-4xr  { margin: 4rem }
.m-5xr  { margin: 5rem }

/* colors */

.c-n  { color: navy; }
.c-b  { color: blue; }
.c-a  { color: aqua; }
.c-t  { color: teal; }
.c-oe { color: olive; }
.c-g  { color: green; }
.c-l  { color: lime; }
.c-y  { color: yellow; }
.c-o  { color: orange; }
.c-r  { color: red; }
.c-m  { color: maroon; }
.c-f  { color: fuchsia; }
.c-p  { color: purple; }
.c-gy { color: gray; }
.c-s  { color: silver; }

.c-k  { color: hsl(0, 0%, 0%); }
.c-k9 { color: hsl(0, 0%, 10%); }
.c-k8 { color: hsl(0, 0%, 20%); }
.c-k7 { color: hsl(0, 0%, 30%); }
.c-k6 { color: hsl(0, 0%, 40%); }
.c-k5 { color: hsl(0, 0%, 50%); }

.c-w  { color: hsl(0, 0%, 100%); }
.c-w9 { color: hsl(0, 0%, 90%); }
.c-w8 { color: hsl(0, 0%, 80%); }
.c-w7 { color: hsl(0, 0%, 70%); }
.c-w6 { color: hsl(0, 0%, 60%); }
.c-w5 { color: hsl(0, 0%, 60%); }
