/* display */

.d-b  { display: block; }
.d-i  { display: inline; }
.d-ib { display: inline-block; }
.d-n  { display: none; }

.d-f  { display: flex; }
.d-t  { display: table; }
.d-tc { display: table-cell; }
.d-tr { display: table-row; }

/* float */

.f-l { float: left; }
.f-n { float: none; }
.f-r { float: right; }

/* visibility */

.v-h { visibility: hidden; }
.v-v { visibility: visible; }

/* opacity */

.o-0  { opacity: 0 }
.o-01 { opacity: .1 }
.o-02 { opacity: .2 }
.o-03 { opacity: .3 }
.o-04 { opacity: .4 }
.o-05 { opacity: .5 }
.o-06 { opacity: .6 }
.o-07 { opacity: .7 }
.o-08 { opacity: .8 }
.o-09 { opacity: .9 }
.o-1  { opacity: 1 }

/* opacity */

.o-a { overflow: auto }
.o-h { overflow: hidden }
.o-s { overflow: scroll }
.o-v { overflow: visible }

.ox-a { overflow-x: auto }
.ox-h { overflow-x: hidden }
.ox-s { overflow-x: scroll }
.ox-v { overflow-x: visible }

.oy-a { overflow-y: auto }
.oy-h { overflow-y: hidden }
.oy-s { overflow-y: scroll }
.oy-v { overflow-y: visible }

.-wos {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

/* margin */

.m-0     { margin:        0 }
  .mt-0  { margin-top:    0 }
  .mr-0  { margin-right:  0 }
  .mb-0  { margin-bottom: 0 }
  .ml-0  { margin-left:   0 }
  .mx-0  { margin-right:  0; margin-left:   0 }
  .my-0  { margin-top:    0; margin-bottom: 0 }

/* -- px */

.m-1p    { margin:        1px }
  .mt-1p { margin-top:    1px }
  .mr-1p { margin-right:  1px }
  .mb-1p { margin-bottom: 1px }
  .ml-1p { margin-left:   1px }
  .mx-1p { margin-right:  1px; margin-left:   1px }
  .my-1p { margin-top:    1px; margin-bottom: 1px }

.m-2p    { margin:        2px }
  .mt-2p { margin-top:    2px }
  .mr-2p { margin-right:  2px }
  .mb-2p { margin-bottom: 2px }
  .ml-2p { margin-left:   2px }
  .mx-2p { margin-right:  2px; margin-left:   2px }
  .my-2p { margin-top:    2px; margin-bottom: 2px }

.m-3p    { margin:        3px }
  .mt-3p { margin-top:    3px }
  .mr-3p { margin-right:  3px }
  .mb-3p { margin-bottom: 3px }
  .ml-3p { margin-left:   3px }
  .mx-3p { margin-right:  3px; margin-left:   3px }
  .my-3p { margin-top:    3px; margin-bottom: 3px }

.m-4p    { margin:        4px }
  .mt-4p { margin-top:    4px }
  .mr-4p { margin-right:  4px }
  .mb-4p { margin-bottom: 4px }
  .ml-4p { margin-left:   4px }
  .mx-4p { margin-right:  4px; margin-left:   4px }
  .my-4p { margin-top:    4px; margin-bottom: 4px }

/* -- em */

.m-025    { margin:        .25em }
  .mt-025 { margin-top:    .25em }
  .mr-025 { margin-right:  .25em }
  .mb-025 { margin-bottom: .25em }
  .ml-025 { margin-left:   .25em }
  .mx-025 { margin-right:  .25em; margin-left:   .25em }
  .my-025 { margin-top:    .25em; margin-bottom: .25em }

.m-05    { margin:        .5em }
  .mt-05 { margin-top:    .5em }
  .mr-05 { margin-right:  .5em }
  .mb-05 { margin-bottom: .5em }
  .ml-05 { margin-left:   .5em }
  .mx-05 { margin-right:  .5em; margin-left:   .5em }
  .my-05 { margin-top:    .5em; margin-bottom: .5em }

.m-1     { margin:        1em }
  .mt-1  { margin-top:    1em }
  .mr-1  { margin-right:  1em }
  .mb-1  { margin-bottom: 1em }
  .ml-1  { margin-left:   1em }
  .mx-1  { margin-right:  1em; margin-left:   1em }
  .my-1  { margin-top:    1em; margin-bottom: 1em }

.m-2    { margin:        2em }
  .mt-2 { margin-top:    2em }
  .mr-2 { margin-right:  2em }
  .mb-2 { margin-bottom: 2em }
  .ml-2 { margin-left:   2em }
  .mx-2 { margin-right:  2em; margin-left:   .2em }
  .my-2 { margin-top:    2em; margin-bottom: .2em }

/* -- rem */

.m-025r    { margin:        .25em }
  .mt-025r { margin-top:    .25em }
  .mr-025r { margin-right:  .25em }
  .mb-025r { margin-bottom: .25em }
  .ml-025r { margin-left:   .25em }
  .mx-025r { margin-right:  .25em; margin-left:   .25em }
  .my-025r { margin-top:    .25em; margin-bottom: .25em }

.m-05r     { margin:        .5rem }
  .mt-05r  { margin-top:    .5rem }
  .mr-05r  { margin-right:  .5rem }
  .mb-05r  { margin-bottom: .5rem }
  .ml-05r  { margin-left:   .5rem }
  .mx-05r  { margin-right:  .5rem; margin-left:   .5rem }
  .my-05r  { margin-top:    .5rem; margin-bottom: .5rem }

.m-1r     { margin:        1rem }
  .mt-1r  { margin-top:    1rem }
  .mr-1r  { margin-right:  1rem }
  .mb-1r  { margin-bottom: 1rem }
  .ml-1r  { margin-left:   1rem }
  .mx-1r  { margin-right:  1rem; margin-left:   1rem }
  .my-1r  { margin-top:    1rem; margin-bottom: 1rem }

.m-2r     { margin:        2rem }
  .mt-2r  { margin-top:    2rem }
  .mr-2r  { margin-right:  2rem }
  .mb-2r  { margin-bottom: 2rem }
  .ml-2r  { margin-left:   2rem }
  .mx-2r  { margin-right:  2rem; margin-left:   2rem }
  .my-2r  { margin-top:    2rem; margin-bottom: 2rem }

.m-0xa { margin: 0 auto }

/* border */

.b-0,  .bt-0,  .br-0,  .bb-0,  .bl-0,  .bx-0,  .by-0,
.b-1p, .bt-1p, .br-1p, .bb-1p, .bl-1p, .bx-1p, .by-1p,
.b-2p, .bt-2p, .br-2p, .bb-2p, .bl-2p, .bx-2p, .by-2p,
.b-3p, .bt-3p, .br-3p, .bb-3p, .bl-3p, .bx-3p, .by-3p,
.b-4p, .bt-4p, .br-4p, .bb-4p, .bl-4p, .bx-4p, .by-4p { border-width: 0; border-style: solid }

.b-0     { border-width:        0 }
  .bt-0  { border-top-width:    0 }
  .br-0  { border-right-width:  0 }
  .bb-0  { border-bottom-width: 0 }
  .bl-0  { border-left-width:   0 }
  .bx-0  { border-right-width:  0; border-left-width:   0 }
  .by-0  { border-top-width:    0; border-bottom-width: 0 }

.b-1p    { border-width:        1px }
  .bt-1p { border-top-width:    1px }
  .br-1p { border-right-width:  1px }
  .bb-1p { border-bottom-width: 1px }
  .bl-1p { border-left-width:   1px }
  .bx-1p { border-right-width:  1px; border-left-width:   1px }
  .by-1p { border-top-width:    1px; border-bottom-width: 1px }

.b-2p    { border-width:        2px }
  .bt-2p { border-top-width:    2px }
  .br-2p { border-right-width:  2px }
  .bb-2p { border-bottom-width: 2px }
  .bl-2p { border-left-width:   2px }
  .bx-2p { border-right-width:  2px; border-left-width:   2px }
  .by-2p { border-top-width:    2px; border-bottom-width: 2px }

.b-3p    { border-width:        3px }
  .bt-3p { border-top-width:    3px }
  .br-3p { border-right-width:  3px }
  .bb-3p { border-bottom-width: 3px }
  .bl-3p { border-left-width:   3px }
  .bx-3p { border-right-width:  3px; border-left-width:   3px }
  .by-3p { border-top-width:    3px; border-bottom-width: 3px }

.b-4p    { border-width:        4px }
  .bt-4p { border-top-width:    4px }
  .br-4p { border-right-width:  4px }
  .bb-4p { border-bottom-width: 4px }
  .bl-4p { border-left-width:   4px }
  .bx-4p { border-right-width:  4px; border-left-width:   4px }
  .by-4p { border-top-width:    4px; border-bottom-width: 4px }

/* padding */

/* -- px */

.p-0     { padding:        0 }
  .pt-0  { padding-top:    0 }
  .pr-0  { padding-right:  0 }
  .pb-0  { padding-bottom: 0 }
  .pl-0  { padding-left:   0 }
  .px-0  { padding-right:  0; padding-left:   0 }
  .py-0  { padding-top:    0; padding-bottom: 0 }

.p-1p     { padding:        1px }
  .pt-1p  { padding-top:    1px }
  .pr-1p  { padding-right:  1px }
  .pb-1p  { padding-bottom: 1px }
  .pl-1p  { padding-left:   1px }
  .px-1p  { padding-right:  1px; padding-left:   1px }
  .py-1p  { padding-top:    1px; padding-bottom: 1px }

.p-2p     { padding:        2px }
  .pt-2p  { padding-top:    2px }
  .pr-2p  { padding-right:  2px }
  .pb-2p  { padding-bottom: 2px }
  .pl-2p  { padding-left:   2px }
  .px-2p  { padding-right:  2px; padding-left:   2px }
  .py-2p  { padding-top:    2px; padding-bottom: 2px }

.p-3p     { padding:        3px }
  .pt-3p  { padding-top:    3px }
  .pr-3p  { padding-right:  3px }
  .pb-3p  { padding-bottom: 3px }
  .pl-3p  { padding-left:   3px }
  .px-3p  { padding-right:  3px; padding-left:   3px }
  .py-3p  { padding-top:    3px; padding-bottom: 3px }

.p-4p     { padding:        4px }
  .pt-4p  { padding-top:    4px }
  .pr-4p  { padding-right:  4px }
  .pb-4p  { padding-bottom: 4px }
  .pl-4p  { padding-left:   4px }
  .px-4p  { padding-right:  4px; padding-left:   4px }
  .py-4p  { padding-top:    4px; padding-bottom: 4px }

.p-025    { padding:        .25em }
  .pt-025 { padding-top:    .25em }
  .pr-025 { padding-right:  .25em }
  .pb-025 { padding-bottom: .25em }
  .pl-025 { padding-left:   .25em }
  .px-025 { padding-right:  .25em; padding-left:   .25em }
  .py-025 { padding-top:    .25em; padding-bottom: .25em }

.p-05    { padding:        .5em }
  .pt-05 { padding-top:    .5em }
  .pr-05 { padding-right:  .5em }
  .pb-05 { padding-bottom: .5em }
  .pl-05 { padding-left:   .5em }
  .px-05 { padding-right:  .5em; padding-left:   .5em }
  .py-05 { padding-top:    .5em; padding-bottom: .5em }

.p-1     { padding:        1em }
  .pt-1  { padding-top:    1em }
  .pr-1  { padding-right:  1em }
  .pb-1  { padding-bottom: 1em }
  .pl-1  { padding-left:   1em }
  .px-1  { padding-right:  1em; padding-left:   1em }
  .py-1  { padding-top:    1em; padding-bottom: 1em }

.p-2     { padding:        2em }
  .pt-2  { padding-top:    2em }
  .pr-2  { padding-right:  2em }
  .pb-2  { padding-bottom: 2em }
  .pl-2  { padding-left:   2em }
  .px-2  { padding-right:  2em; padding-left:   2em }
  .py-2  { padding-top:    2em; padding-bottom: 2em }

.p-025r    { padding:        .25rem }
  .pt-025r { padding-top:    .25rem }
  .pr-025r { padding-right:  .25rem }
  .pb-025r { padding-bottom: .25rem }
  .pl-025r { padding-left:   .25rem }
  .px-025r { padding-right:  .25rem; padding-left:   .25rem }
  .py-025r { padding-top:    .25rem; padding-bottom: .25rem }

.p-05r    { padding:        .5rem }
  .pt-05r { padding-top:    .5rem }
  .pr-05r { padding-right:  .5rem }
  .pb-05r { padding-bottom: .5rem }
  .pl-05r { padding-left:   .5rem }
  .px-05r { padding-right:  .5rem; padding-left:   .5rem }
  .py-05r { padding-top:    .5rem; padding-bottom: .5rem }

.p-1r     { padding:        1rem }
  .pt-1r  { padding-top:    1rem }
  .pr-1r  { padding-right:  1rem }
  .pb-1r  { padding-bottom: 1rem }
  .pl-1r  { padding-left:   1rem }
  .px-1r  { padding-right:  1rem; padding-left:   1rem }
  .py-1r  { padding-top:    1rem; padding-bottom: 1rem }

.p-2r     { padding:        2rem }
  .pt-2r  { padding-top:    2rem }
  .pr-2r  { padding-right:  2rem }
  .pb-2r  { padding-bottom: 2rem }
  .pl-2r  { padding-left:   2rem }
  .px-2r  { padding-right:  2rem; padding-left:   2rem }
  .py-2r  { padding-top:    2rem; padding-bottom: 2rem }

/* colors */

.c-n  { color: navy; }
.c-b  { color: blue; }
.c-a  { color: aqua; }
.c-t  { color: teal; }
.c-oe { color: olive; }
.c-g  { color: green; }
.c-l  { color: lime; }
.c-y  { color: yellow; }
.c-o  { color: orange; }
.c-r  { color: red; }
.c-m  { color: maroon; }
.c-f  { color: fuchsia; }
.c-p  { color: purple; }
.c-gy { color: gray; }
.c-s  { color: silver; }

.c-k  { color: hsl(0, 0%, 0%); }
.c-k9 { color: hsl(0, 0%, 10%); }
.c-k8 { color: hsl(0, 0%, 20%); }
.c-k7 { color: hsl(0, 0%, 30%); }
.c-k6 { color: hsl(0, 0%, 40%); }
.c-k5 { color: hsl(0, 0%, 50%); }

.c-w  { color: hsl(0, 0%, 100%); }
.c-w9 { color: hsl(0, 0%, 90%); }
.c-w8 { color: hsl(0, 0%, 80%); }
.c-w7 { color: hsl(0, 0%, 70%); }
.c-w6 { color: hsl(0, 0%, 60%); }
.c-w5 { color: hsl(0, 0%, 60%); }

/* background-color */

.bgc-n  { background-color: navy; }
.bgc-b  { background-color: blue; }
.bgc-a  { background-color: aqua; }
.bgc-t  { background-color: teal; }
.bgc-oe { background-color: olive; }
.bgc-g  { background-color: green; }
.bgc-l  { background-color: lime; }
.bgc-y  { background-color: yellow; }
.bgc-o  { background-color: orange; }
.bgc-r  { background-color: red; }
.bgc-m  { background-color: maroon; }
.bgc-f  { background-color: fuchsia; }
.bgc-p  { background-color: purple; }
.bgc-gy { background-color: gray; }
.bgc-s  { background-color: silver; }

.bgc-k  { background-color: hsl(0, 0%, 0%); }
.bgc-k9 { background-color: hsl(0, 0%, 10%); }
.bgc-k8 { background-color: hsl(0, 0%, 20%); }
.bgc-k7 { background-color: hsl(0, 0%, 30%); }
.bgc-k6 { background-color: hsl(0, 0%, 40%); }
.bgc-k5 { background-color: hsl(0, 0%, 50%); }

.bgc-w  { background-color: hsl(0, 0%, 100%); }
.bgc-w9 { background-color: hsl(0, 0%, 90%); }
.bgc-w8 { background-color: hsl(0, 0%, 80%); }
.bgc-w7 { background-color: hsl(0, 0%, 70%); }
.bgc-w6 { background-color: hsl(0, 0%, 60%); }
.bgc-w5 { background-color: hsl(0, 0%, 60%); }

/* border-color */

.bc-n  { border-color: navy; }
.bc-b  { border-color: blue; }
.bc-a  { border-color: aqua; }
.bc-t  { border-color: teal; }
.bc-oe { border-color: olive; }
.bc-g  { border-color: green; }
.bc-l  { border-color: lime; }
.bc-y  { border-color: yellow; }
.bc-o  { border-color: orange; }
.bc-r  { border-color: red; }
.bc-m  { border-color: maroon; }
.bc-f  { border-color: fuchsia; }
.bc-p  { border-color: purple; }
.bc-gy { border-color: gray; }
.bc-s  { border-color: silver; }

.bc-k  { border-color: hsl(0, 0%, 0%); }
.bc-k9 { border-color: hsl(0, 0%, 10%); }
.bc-k8 { border-color: hsl(0, 0%, 20%); }
.bc-k7 { border-color: hsl(0, 0%, 30%); }
.bc-k6 { border-color: hsl(0, 0%, 40%); }
.bc-k5 { border-color: hsl(0, 0%, 50%); }

.bc-w  { border-color: hsl(0, 0%, 100%); }
.bc-w9 { border-color: hsl(0, 0%, 90%); }
.bc-w8 { border-color: hsl(0, 0%, 80%); }
.bc-w7 { border-color: hsl(0, 0%, 70%); }
.bc-w6 { border-color: hsl(0, 0%, 60%); }
.bc-w5 { border-color: hsl(0, 0%, 60%); }
