/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.o    { opacity: 1 }
.o\.9 { opacity: .9 }
.o\.8 { opacity: .8 }
.o\.7 { opacity: .7 }
.o\.5 { opacity: .5 }
.o\.4 { opacity: .4 }
.o\.3 { opacity: .3 }
.o\.2 { opacity: .2 }
.o\.1 { opacity: .1 }
.o\.0 { opacity: 0 }
