/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 543px) {
  .o-0\@\!sm { order: 0 }
  .o-1\@\!sm { order: 1 }
  .o-2\@\!sm { order: 2 }
  .o-3\@\!sm { order: 3 }
  .o-4\@\!sm { order: 4 }
  .o-5\@\!sm { order: 5 }
  .o-6\@\!sm { order: 6 }

  .o-n1\@\!sm { order: -1 }
  .o-n2\@\!sm { order: -2 }
  .o-n3\@\!sm { order: -3 }
  .o-n4\@\!sm { order: -4 }
  .o-n5\@\!sm { order: -5 }
  .o-n6\@\!sm { order: -6 }
}
