/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 0) {
  .o-0\@mn { order: 0 }
  .o-1\@mn { order: 1 }
  .o-2\@mn { order: 2 }
  .o-3\@mn { order: 3 }
  .o-4\@mn { order: 4 }
  .o-5\@mn { order: 5 }
  .o-6\@mn { order: 6 }

  .o-n1\@mn { order: -1 }
  .o-n2\@mn { order: -2 }
  .o-n3\@mn { order: -3 }
  .o-n4\@mn { order: -4 }
  .o-n5\@mn { order: -5 }
  .o-n6\@mn { order: -6 }
}
