/*! minions.css */
.p-0{padding:0}
.p-1p{padding:1px}
.p-2p{padding:2px}
.p-3p{padding:3px}
.p-4p{padding:4px}
.p-\.25e{padding:.25em}
.p-\.5e{padding:.5em}
.p-1e{padding:1em}
.p-2e{padding:2em}
.p-3e{padding:3em}
.p-4e{padding:4em}
.p-\.25r{padding:.25rem}
.p-\.5r{padding:.5rem}
.p-1r{padding:1rem}
.p-2r{padding:2rem}
.p-3r{padding:3rem}
.p-4r{padding:4rem}
