/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 0) {
  .p-0\@mn   { padding:        0 }
  .pt-0\@mn  { padding-top:    0 }
  .pr-0\@mn  { padding-right:  0 }
  .pb-0\@mn  { padding-bottom: 0 }
  .pl-0\@mn  { padding-left:   0 }
  .px-0\@mn  { padding-right:  0; padding-left:   0 }
  .py-0\@mn  { padding-top:    0; padding-bottom: 0 }

  /* -- px */

  .p-1p\@mn  { padding:        1px }
  .pt-1p\@mn { padding-top:    1px }
  .pr-1p\@mn { padding-right:  1px }
  .pb-1p\@mn { padding-bottom: 1px }
  .pl-1p\@mn { padding-left:   1px }
  .px-1p\@mn { padding-right:  1px; padding-left:   1px }
  .py-1p\@mn { padding-top:    1px; padding-bottom: 1px }

  .p-2p\@mn  { padding:        2px }
  .pt-2p\@mn { padding-top:    2px }
  .pr-2p\@mn { padding-right:  2px }
  .pb-2p\@mn { padding-bottom: 2px }
  .pl-2p\@mn { padding-left:   2px }
  .px-2p\@mn { padding-right:  2px; padding-left:   2px }
  .py-2p\@mn { padding-top:    2px; padding-bottom: 2px }

  .p-3p\@mn  { padding:        3px }
  .pt-3p\@mn { padding-top:    3px }
  .pr-3p\@mn { padding-right:  3px }
  .pb-3p\@mn { padding-bottom: 3px }
  .pl-3p\@mn { padding-left:   3px }
  .px-3p\@mn { padding-right:  3px; padding-left:   3px }
  .py-3p\@mn { padding-top:    3px; padding-bottom: 3px }

  .p-4p\@mn  { padding:        4px }
  .pt-4p\@mn { padding-top:    4px }
  .pr-4p\@mn { padding-right:  4px }
  .pb-4p\@mn { padding-bottom: 4px }
  .pl-4p\@mn { padding-left:   4px }
  .px-4p\@mn { padding-right:  4px; padding-left:   4px }
  .py-4p\@mn { padding-top:    4px; padding-bottom: 4px }

  /* -- em */

  .p-025\@mn  { padding:        .25em }
  .pt-025\@mn { padding-top:    .25em }
  .pr-025\@mn { padding-right:  .25em }
  .pb-025\@mn { padding-bottom: .25em }
  .pl-025\@mn { padding-left:   .25em }
  .px-025\@mn { padding-right:  .25em; padding-left:   .25em }
  .py-025\@mn { padding-top:    .25em; padding-bottom: .25em }

  .p-05\@mn  { padding:        .5em }
  .pt-05\@mn { padding-top:    .5em }
  .pr-05\@mn { padding-right:  .5em }
  .pb-05\@mn { padding-bottom: .5em }
  .pl-05\@mn { padding-left:   .5em }
  .px-05\@mn { padding-right:  .5em; padding-left:   .5em }
  .py-05\@mn { padding-top:    .5em; padding-bottom: .5em }

  .p-1\@mn   { padding:        1em }
  .pt-1\@mn  { padding-top:    1em }
  .pr-1\@mn  { padding-right:  1em }
  .pb-1\@mn  { padding-bottom: 1em }
  .pl-1\@mn  { padding-left:   1em }
  .px-1\@mn  { padding-right:  1em; padding-left:   1em }
  .py-1\@mn  { padding-top:    1em; padding-bottom: 1em }

  .p-2\@mn  { padding:        2em }
  .pt-2\@mn { padding-top:    2em }
  .pr-2\@mn { padding-right:  2em }
  .pb-2\@mn { padding-bottom: 2em }
  .pl-2\@mn { padding-left:   2em }
  .px-2\@mn { padding-right:  2em; padding-left:   2em }
  .py-2\@mn { padding-top:    2em; padding-bottom: 2em }

  .p-3\@mn  { padding:        3em }
  .pt-3\@mn { padding-top:    3em }
  .pr-3\@mn { padding-right:  3em }
  .pb-3\@mn { padding-bottom: 3em }
  .pl-3\@mn { padding-left:   3em }
  .px-3\@mn { padding-right:  3em; padding-left:   3em }
  .py-3\@mn { padding-top:    3em; padding-bottom: 3em }

  .p-4\@mn  { padding:        4em }
  .pt-4\@mn { padding-top:    4em }
  .pr-4\@mn { padding-right:  4em }
  .pb-4\@mn { padding-bottom: 4em }
  .pl-4\@mn { padding-left:   4em }
  .px-4\@mn { padding-right:  4em; padding-left:   4em }
  .py-4\@mn { padding-top:    4em; padding-bottom: 4em }

  /* -- rem */

  .p-025r\@mn  { padding:        .25em }
  .pt-025r\@mn { padding-top:    .25em }
  .pr-025r\@mn { padding-right:  .25em }
  .pb-025r\@mn { padding-bottom: .25em }
  .pl-025r\@mn { padding-left:   .25em }
  .px-025r\@mn { padding-right:  .25em; padding-left:   .25em }
  .py-025r\@mn { padding-top:    .25em; padding-bottom: .25em }

  .p-05r\@mn   { padding:        .5rem }
  .pt-05r\@mn  { padding-top:    .5rem }
  .pr-05r\@mn  { padding-right:  .5rem }
  .pb-05r\@mn  { padding-bottom: .5rem }
  .pl-05r\@mn  { padding-left:   .5rem }
  .px-05r\@mn  { padding-right:  .5rem; padding-left:   .5rem }
  .py-05r\@mn  { padding-top:    .5rem; padding-bottom: .5rem }

  .p-1r\@mn   { padding:        1rem }
  .pt-1r\@mn  { padding-top:    1rem }
  .pr-1r\@mn  { padding-right:  1rem }
  .pb-1r\@mn  { padding-bottom: 1rem }
  .pl-1r\@mn  { padding-left:   1rem }
  .px-1r\@mn  { padding-right:  1rem; padding-left:   1rem }
  .py-1r\@mn  { padding-top:    1rem; padding-bottom: 1rem }

  .p-2r\@mn   { padding:        2rem }
  .pt-2r\@mn  { padding-top:    2rem }
  .pr-2r\@mn  { padding-right:  2rem }
  .pb-2r\@mn  { padding-bottom: 2rem }
  .pl-2r\@mn  { padding-left:   2rem }
  .px-2r\@mn  { padding-right:  2rem; padding-left:   2rem }
  .py-2r\@mn  { padding-top:    2rem; padding-bottom: 2rem }

  .p-3r\@mn   { padding:        3rem }
  .pt-3r\@mn  { padding-top:    3rem }
  .pr-3r\@mn  { padding-right:  3rem }
  .pb-3r\@mn  { padding-bottom: 3rem }
  .pl-3r\@mn  { padding-left:   3rem }
  .px-3r\@mn  { padding-right:  3rem; padding-left:   3rem }
  .py-3r\@mn  { padding-top:    3rem; padding-bottom: 3rem }

  .p-4r\@mn   { padding:        4rem }
  .pt-4r\@mn  { padding-top:    4rem }
  .pr-4r\@mn  { padding-right:  4rem }
  .pb-4r\@mn  { padding-bottom: 4rem }
  .pl-4r\@mn  { padding-left:   4rem }
  .px-4r\@mn  { padding-right:  4rem; padding-left:   4rem }
  .py-4r\@mn  { padding-top:    4rem; padding-bottom: 4rem }
}
