/*! minions.css */
.px-0{padding-right:0;padding-left:0}
.px-1p{padding-right:1px;padding-left:1px}
.px-2p{padding-right:2px;padding-left:2px}
.px-3p{padding-right:3px;padding-left:3px}
.px-4p{padding-right:4px;padding-left:4px}
.px-\.25e{padding-right:.25em;padding-left:.25em}
.px-\.5e{padding-right:.5em;padding-left:.5em}
.px-1e{padding-right:1em;padding-left:1em}
.px-2e{padding-right:2em;padding-left:2em}
.px-3e{padding-right:3em;padding-left:3em}
.px-4e{padding-right:4em;padding-left:4em}
.px-\.25r{padding-right:.25rem;padding-left:.25rem}
.px-\.5r{padding-right:.5rem;padding-left:.5rem}
.px-1r{padding-right:1rem;padding-left:1rem}
.px-2r{padding-right:2rem;padding-left:2rem}
.px-3r{padding-right:3rem;padding-left:3rem}
.px-4r{padding-right:4rem;padding-left:4rem}
