/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

/* -- px */

.p-0\!     { padding:        0 !important }
  .pt-0\!  { padding-top:    0 !important }
  .pr-0\!  { padding-right:  0 !important }
  .pb-0\!  { padding-bottom: 0 !important }
  .pl-0\!  { padding-left:   0 !important }
  .px-0\!  { padding-right:  0 !important; padding-left:   0 !important }
  .py-0\!  { padding-top:    0 !important; padding-bottom: 0 !important }

.p-1p\!    { padding:        1px !important }
  .pt-1p\! { padding-top:    1px !important }
  .pr-1p\! { padding-right:  1px !important }
  .pb-1p\! { padding-bottom: 1px !important }
  .pl-1p\! { padding-left:   1px !important }
  .px-1p\! { padding-right:  1px !important; padding-left:   1px !important }
  .py-1p\! { padding-top:    1px !important; padding-bottom: 1px !important }

.p-2p\!    { padding:        2px !important }
  .pt-2p\! { padding-top:    2px !important }
  .pr-2p\! { padding-right:  2px !important }
  .pb-2p\! { padding-bottom: 2px !important }
  .pl-2p\! { padding-left:   2px !important }
  .px-2p\! { padding-right:  2px !important; padding-left:   2px !important }
  .py-2p\! { padding-top:    2px !important; padding-bottom: 2px !important }

.p-3p\!    { padding:        3px !important }
  .pt-3p\! { padding-top:    3px !important }
  .pr-3p\! { padding-right:  3px !important }
  .pb-3p\! { padding-bottom: 3px !important }
  .pl-3p\! { padding-left:   3px !important }
  .px-3p\! { padding-right:  3px !important; padding-left:   3px !important }
  .py-3p\! { padding-top:    3px !important; padding-bottom: 3px !important }

.p-4p\!    { padding:        4px !important }
  .pt-4p\! { padding-top:    4px !important }
  .pr-4p\! { padding-right:  4px !important }
  .pb-4p\! { padding-bottom: 4px !important }
  .pl-4p\! { padding-left:   4px !important }
  .px-4p\! { padding-right:  4px !important; padding-left:   4px !important }
  .py-4p\! { padding-top:    4px !important; padding-bottom: 4px !important }

/* -- em */

.p-025\!    { padding:        .25em !important }
  .pt-025\! { padding-top:    .25em !important }
  .pr-025\! { padding-right:  .25em !important }
  .pb-025\! { padding-bottom: .25em !important }
  .pl-025\! { padding-left:   .25em !important }
  .px-025\! { padding-right:  .25em !important; padding-left:   .25em !important }
  .py-025\! { padding-top:    .25em !important; padding-bottom: .25em !important }

.p-05\!    { padding:        .5em !important }
  .pt-05\! { padding-top:    .5em !important }
  .pr-05\! { padding-right:  .5em !important }
  .pb-05\! { padding-bottom: .5em !important }
  .pl-05\! { padding-left:   .5em !important }
  .px-05\! { padding-right:  .5em !important; padding-left:   .5em !important }
  .py-05\! { padding-top:    .5em !important; padding-bottom: .5em !important }

.p-1\!    { padding:        1em !important }
  .pt-1\! { padding-top:    1em !important }
  .pr-1\! { padding-right:  1em !important }
  .pb-1\! { padding-bottom: 1em !important }
  .pl-1\! { padding-left:   1em !important }
  .px-1\! { padding-right:  1em !important; padding-left:   1em !important }
  .py-1\! { padding-top:    1em !important; padding-bottom: 1em !important }

.p-2\!    { padding:        2em !important }
  .pt-2\! { padding-top:    2em !important }
  .pr-2\! { padding-right:  2em !important }
  .pb-2\! { padding-bottom: 2em !important }
  .pl-2\! { padding-left:   2em !important }
  .px-2\! { padding-right:  2em !important; padding-left:   2em !important }
  .py-2\! { padding-top:    2em !important; padding-bottom: 2em !important }

.p-3\!    { padding:        3em !important }
  .pt-3\! { padding-top:    3em !important }
  .pr-3\! { padding-right:  3em !important }
  .pb-3\! { padding-bottom: 3em !important }
  .pl-3\! { padding-left:   3em !important }
  .px-3\! { padding-right:  3em !important; padding-left:   3em !important }
  .py-3\! { padding-top:    3em !important; padding-bottom: 3em !important }

.p-4\!    { padding:        4em !important }
  .pt-4\! { padding-top:    4em !important }
  .pr-4\! { padding-right:  4em !important }
  .pb-4\! { padding-bottom: 4em !important }
  .pl-4\! { padding-left:   4em !important }
  .px-4\! { padding-right:  4em !important; padding-left:   4em !important }
  .py-4\! { padding-top:    4em !important; padding-bottom: 4em !important }

/* -- rem */

.p-025r\!    { padding:        .25rem !important }
  .pt-025r\! { padding-top:    .25rem !important }
  .pr-025r\! { padding-right:  .25rem !important }
  .pb-025r\! { padding-bottom: .25rem !important }
  .pl-025r\! { padding-left:   .25rem !important }
  .px-025r\! { padding-right:  .25rem !important; padding-left:   .25rem !important }
  .py-025r\! { padding-top:    .25rem !important; padding-bottom: .25rem !important }

.p-05r\!    { padding:        .5rem !important }
  .pt-05r\! { padding-top:    .5rem !important }
  .pr-05r\! { padding-right:  .5rem !important }
  .pb-05r\! { padding-bottom: .5rem !important }
  .pl-05r\! { padding-left:   .5rem !important }
  .px-05r\! { padding-right:  .5rem !important; padding-left:   .5rem !important }
  .py-05r\! { padding-top:    .5rem !important; padding-bottom: .5rem !important }

.p-1r\!    { padding:        1rem !important }
  .pt-1r\! { padding-top:    1rem !important }
  .pr-1r\! { padding-right:  1rem !important }
  .pb-1r\! { padding-bottom: 1rem !important }
  .pl-1r\! { padding-left:   1rem !important }
  .px-1r\! { padding-right:  1rem !important; padding-left:   1rem !important }
  .py-1r\! { padding-top:    1rem !important; padding-bottom: 1rem !important }

.p-2r\!    { padding:        2rem !important }
  .pt-2r\! { padding-top:    2rem !important }
  .pr-2r\! { padding-right:  2rem !important }
  .pb-2r\! { padding-bottom: 2rem !important }
  .pl-2r\! { padding-left:   2rem !important }
  .px-2r\! { padding-right:  2rem !important; padding-left:   2rem !important }
  .py-2r\! { padding-top:    2rem !important; padding-bottom: 2rem !important }

.p-3r\!    { padding:        3rem !important }
  .pt-3r\! { padding-top:    3rem !important }
  .pr-3r\! { padding-right:  3rem !important }
  .pb-3r\! { padding-bottom: 3rem !important }
  .pl-3r\! { padding-left:   3rem !important }
  .px-3r\! { padding-right:  3rem !important; padding-left:   3rem !important }
  .py-3r\! { padding-top:    3rem !important; padding-bottom: 3rem !important }

.p-4r\!    { padding:        4rem !important }
  .pt-4r\! { padding-top:    4rem !important }
  .pr-4r\! { padding-right:  4rem !important }
  .pb-4r\! { padding-bottom: 4rem !important }
  .pl-4r\! { padding-left:   4rem !important }
  .px-4r\! { padding-right:  4rem !important; padding-left:   4rem !important }
  .py-4r\! { padding-top:    4rem !important; padding-bottom: 4rem !important }
