/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 1200px) {
  .p-0\@xl   { padding:        0 }
  .pt-0\@xl  { padding-top:    0 }
  .pr-0\@xl  { padding-right:  0 }
  .pb-0\@xl  { padding-bottom: 0 }
  .pl-0\@xl  { padding-left:   0 }
  .px-0\@xl  { padding-right:  0; padding-left:   0 }
  .py-0\@xl  { padding-top:    0; padding-bottom: 0 }

  /* -- px */

  .p-1p\@xl  { padding:        1px }
  .pt-1p\@xl { padding-top:    1px }
  .pr-1p\@xl { padding-right:  1px }
  .pb-1p\@xl { padding-bottom: 1px }
  .pl-1p\@xl { padding-left:   1px }
  .px-1p\@xl { padding-right:  1px; padding-left:   1px }
  .py-1p\@xl { padding-top:    1px; padding-bottom: 1px }

  .p-2p\@xl  { padding:        2px }
  .pt-2p\@xl { padding-top:    2px }
  .pr-2p\@xl { padding-right:  2px }
  .pb-2p\@xl { padding-bottom: 2px }
  .pl-2p\@xl { padding-left:   2px }
  .px-2p\@xl { padding-right:  2px; padding-left:   2px }
  .py-2p\@xl { padding-top:    2px; padding-bottom: 2px }

  .p-3p\@xl  { padding:        3px }
  .pt-3p\@xl { padding-top:    3px }
  .pr-3p\@xl { padding-right:  3px }
  .pb-3p\@xl { padding-bottom: 3px }
  .pl-3p\@xl { padding-left:   3px }
  .px-3p\@xl { padding-right:  3px; padding-left:   3px }
  .py-3p\@xl { padding-top:    3px; padding-bottom: 3px }

  .p-4p\@xl  { padding:        4px }
  .pt-4p\@xl { padding-top:    4px }
  .pr-4p\@xl { padding-right:  4px }
  .pb-4p\@xl { padding-bottom: 4px }
  .pl-4p\@xl { padding-left:   4px }
  .px-4p\@xl { padding-right:  4px; padding-left:   4px }
  .py-4p\@xl { padding-top:    4px; padding-bottom: 4px }

  /* -- em */

  .p-025\@xl  { padding:        .25em }
  .pt-025\@xl { padding-top:    .25em }
  .pr-025\@xl { padding-right:  .25em }
  .pb-025\@xl { padding-bottom: .25em }
  .pl-025\@xl { padding-left:   .25em }
  .px-025\@xl { padding-right:  .25em; padding-left:   .25em }
  .py-025\@xl { padding-top:    .25em; padding-bottom: .25em }

  .p-05\@xl  { padding:        .5em }
  .pt-05\@xl { padding-top:    .5em }
  .pr-05\@xl { padding-right:  .5em }
  .pb-05\@xl { padding-bottom: .5em }
  .pl-05\@xl { padding-left:   .5em }
  .px-05\@xl { padding-right:  .5em; padding-left:   .5em }
  .py-05\@xl { padding-top:    .5em; padding-bottom: .5em }

  .p-1\@xl   { padding:        1em }
  .pt-1\@xl  { padding-top:    1em }
  .pr-1\@xl  { padding-right:  1em }
  .pb-1\@xl  { padding-bottom: 1em }
  .pl-1\@xl  { padding-left:   1em }
  .px-1\@xl  { padding-right:  1em; padding-left:   1em }
  .py-1\@xl  { padding-top:    1em; padding-bottom: 1em }

  .p-2\@xl  { padding:        2em }
  .pt-2\@xl { padding-top:    2em }
  .pr-2\@xl { padding-right:  2em }
  .pb-2\@xl { padding-bottom: 2em }
  .pl-2\@xl { padding-left:   2em }
  .px-2\@xl { padding-right:  2em; padding-left:   .2em }
  .py-2\@xl { padding-top:    2em; padding-bottom: .2em }

  /* -- rem */

  .p-025r\@xl  { padding:        .25em }
  .pt-025r\@xl { padding-top:    .25em }
  .pr-025r\@xl { padding-right:  .25em }
  .pb-025r\@xl { padding-bottom: .25em }
  .pl-025r\@xl { padding-left:   .25em }
  .px-025r\@xl { padding-right:  .25em; padding-left:   .25em }
  .py-025r\@xl { padding-top:    .25em; padding-bottom: .25em }

  .p-05r\@xl   { padding:        .5rem }
  .pt-05r\@xl  { padding-top:    .5rem }
  .pr-05r\@xl  { padding-right:  .5rem }
  .pb-05r\@xl  { padding-bottom: .5rem }
  .pl-05r\@xl  { padding-left:   .5rem }
  .px-05r\@xl  { padding-right:  .5rem; padding-left:   .5rem }
  .py-05r\@xl  { padding-top:    .5rem; padding-bottom: .5rem }

  .p-1r\@xl   { padding:        1rem }
  .pt-1r\@xl  { padding-top:    1rem }
  .pr-1r\@xl  { padding-right:  1rem }
  .pb-1r\@xl  { padding-bottom: 1rem }
  .pl-1r\@xl  { padding-left:   1rem }
  .px-1r\@xl  { padding-right:  1rem; padding-left:   1rem }
  .py-1r\@xl  { padding-top:    1rem; padding-bottom: 1rem }

  .p-2r\@xl   { padding:        2rem }
  .pt-2r\@xl  { padding-top:    2rem }
  .pr-2r\@xl  { padding-right:  2rem }
  .pb-2r\@xl  { padding-bottom: 2rem }
  .pl-2r\@xl  { padding-left:   2rem }
  .px-2r\@xl  { padding-right:  2rem; padding-left:   2rem }
  .py-2r\@xl  { padding-top:    2rem; padding-bottom: 2rem }
}
