/*! minions.css */
.pr-0{padding-right:0}
.pr-1p{padding-right:1px}
.pr-2p{padding-right:2px}
.pr-3p{padding-right:3px}
.pr-4p{padding-right:4px}
.pr-\.25e{padding-right:.25em}
.pr-\.5e{padding-right:.5em}
.pr-1e{padding-right:1em}
.pr-2e{padding-right:2em}
.pr-3e{padding-right:3em}
.pr-4e{padding-right:4em}
.pr-\.25r{padding-right:.25rem}
.pr-\.5r{padding-right:.5rem}
.pr-1r{padding-right:1rem}
.pr-2r{padding-right:2rem}
.pr-3r{padding-right:3rem}
.pr-4r{padding-right:4rem}
