/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 992px) {
  .p-0\@lg   { padding:        0 }
  .pt-0\@lg  { padding-top:    0 }
  .pr-0\@lg  { padding-right:  0 }
  .pb-0\@lg  { padding-bottom: 0 }
  .pl-0\@lg  { padding-left:   0 }
  .px-0\@lg  { padding-right:  0; padding-left:   0 }
  .py-0\@lg  { padding-top:    0; padding-bottom: 0 }

  /* -- px */

  .p-1p\@lg  { padding:        1px }
  .pt-1p\@lg { padding-top:    1px }
  .pr-1p\@lg { padding-right:  1px }
  .pb-1p\@lg { padding-bottom: 1px }
  .pl-1p\@lg { padding-left:   1px }
  .px-1p\@lg { padding-right:  1px; padding-left:   1px }
  .py-1p\@lg { padding-top:    1px; padding-bottom: 1px }

  .p-2p\@lg  { padding:        2px }
  .pt-2p\@lg { padding-top:    2px }
  .pr-2p\@lg { padding-right:  2px }
  .pb-2p\@lg { padding-bottom: 2px }
  .pl-2p\@lg { padding-left:   2px }
  .px-2p\@lg { padding-right:  2px; padding-left:   2px }
  .py-2p\@lg { padding-top:    2px; padding-bottom: 2px }

  .p-3p\@lg  { padding:        3px }
  .pt-3p\@lg { padding-top:    3px }
  .pr-3p\@lg { padding-right:  3px }
  .pb-3p\@lg { padding-bottom: 3px }
  .pl-3p\@lg { padding-left:   3px }
  .px-3p\@lg { padding-right:  3px; padding-left:   3px }
  .py-3p\@lg { padding-top:    3px; padding-bottom: 3px }

  .p-4p\@lg  { padding:        4px }
  .pt-4p\@lg { padding-top:    4px }
  .pr-4p\@lg { padding-right:  4px }
  .pb-4p\@lg { padding-bottom: 4px }
  .pl-4p\@lg { padding-left:   4px }
  .px-4p\@lg { padding-right:  4px; padding-left:   4px }
  .py-4p\@lg { padding-top:    4px; padding-bottom: 4px }

  /* -- em */

  .p-025\@lg  { padding:        .25em }
  .pt-025\@lg { padding-top:    .25em }
  .pr-025\@lg { padding-right:  .25em }
  .pb-025\@lg { padding-bottom: .25em }
  .pl-025\@lg { padding-left:   .25em }
  .px-025\@lg { padding-right:  .25em; padding-left:   .25em }
  .py-025\@lg { padding-top:    .25em; padding-bottom: .25em }

  .p-05\@lg  { padding:        .5em }
  .pt-05\@lg { padding-top:    .5em }
  .pr-05\@lg { padding-right:  .5em }
  .pb-05\@lg { padding-bottom: .5em }
  .pl-05\@lg { padding-left:   .5em }
  .px-05\@lg { padding-right:  .5em; padding-left:   .5em }
  .py-05\@lg { padding-top:    .5em; padding-bottom: .5em }

  .p-1\@lg   { padding:        1em }
  .pt-1\@lg  { padding-top:    1em }
  .pr-1\@lg  { padding-right:  1em }
  .pb-1\@lg  { padding-bottom: 1em }
  .pl-1\@lg  { padding-left:   1em }
  .px-1\@lg  { padding-right:  1em; padding-left:   1em }
  .py-1\@lg  { padding-top:    1em; padding-bottom: 1em }

  .p-2\@lg  { padding:        2em }
  .pt-2\@lg { padding-top:    2em }
  .pr-2\@lg { padding-right:  2em }
  .pb-2\@lg { padding-bottom: 2em }
  .pl-2\@lg { padding-left:   2em }
  .px-2\@lg { padding-right:  2em; padding-left:   2em }
  .py-2\@lg { padding-top:    2em; padding-bottom: 2em }

  .p-3\@lg  { padding:        3em }
  .pt-3\@lg { padding-top:    3em }
  .pr-3\@lg { padding-right:  3em }
  .pb-3\@lg { padding-bottom: 3em }
  .pl-3\@lg { padding-left:   3em }
  .px-3\@lg { padding-right:  3em; padding-left:   3em }
  .py-3\@lg { padding-top:    3em; padding-bottom: 3em }

  /* -- rem */

  .p-025r\@lg  { padding:        .25em }
  .pt-025r\@lg { padding-top:    .25em }
  .pr-025r\@lg { padding-right:  .25em }
  .pb-025r\@lg { padding-bottom: .25em }
  .pl-025r\@lg { padding-left:   .25em }
  .px-025r\@lg { padding-right:  .25em; padding-left:   .25em }
  .py-025r\@lg { padding-top:    .25em; padding-bottom: .25em }

  .p-05r\@lg   { padding:        .5rem }
  .pt-05r\@lg  { padding-top:    .5rem }
  .pr-05r\@lg  { padding-right:  .5rem }
  .pb-05r\@lg  { padding-bottom: .5rem }
  .pl-05r\@lg  { padding-left:   .5rem }
  .px-05r\@lg  { padding-right:  .5rem; padding-left:   .5rem }
  .py-05r\@lg  { padding-top:    .5rem; padding-bottom: .5rem }

  .p-1r\@lg   { padding:        1rem }
  .pt-1r\@lg  { padding-top:    1rem }
  .pr-1r\@lg  { padding-right:  1rem }
  .pb-1r\@lg  { padding-bottom: 1rem }
  .pl-1r\@lg  { padding-left:   1rem }
  .px-1r\@lg  { padding-right:  1rem; padding-left:   1rem }
  .py-1r\@lg  { padding-top:    1rem; padding-bottom: 1rem }

  .p-2r\@lg   { padding:        2rem }
  .pt-2r\@lg  { padding-top:    2rem }
  .pr-2r\@lg  { padding-right:  2rem }
  .pb-2r\@lg  { padding-bottom: 2rem }
  .pl-2r\@lg  { padding-left:   2rem }
  .px-2r\@lg  { padding-right:  2rem; padding-left:   2rem }
  .py-2r\@lg  { padding-top:    2rem; padding-bottom: 2rem }

  .p-3r\@lg   { padding:        3rem }
  .pt-3r\@lg  { padding-top:    3rem }
  .pr-3r\@lg  { padding-right:  3rem }
  .pb-3r\@lg  { padding-bottom: 3rem }
  .pl-3r\@lg  { padding-left:   3rem }
  .px-3r\@lg  { padding-right:  3rem; padding-left:   3rem }
  .py-3r\@lg  { padding-top:    3rem; padding-bottom: 3rem }
}
