/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (max-width: 1199px) {
  .p-s\@\!xl { position: static }
  .p-r\@\!xl { position: relative }
  .p-a\@\!xl { position: absolute }
  .p-f\@\!xl { position: fixed }
}
