/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 544px) {
  .p-s\@sm { position: static }
  .p-r\@sm { position: relative }
  .p-a\@sm { position: absolute }
  .p-f\@sm { position: fixed }
}
