/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

@media (min-width: 320px) {
  .ta-c\@xs { text-align: center }
  .ta-j\@xs { text-align: justify }
  .ta-l\@xs { text-align: left }
  .ta-r\@xs { text-align: right }
}
