/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.t-0 { top: 0 }

/* --pixel */
.t-1p { top: 1px }
.t-2p { top: 1px }
.t-3p { top: 3px }
.t-4p { top: 4px }

/* --em */
.t-025 { top: .25em }
.t-05  { top: .5em }
.t-1   { top: 1em }
.t-2   { top: 2em }

/* --rem */
.t-025r { top: .25rem }
.t-05r  { top: .5rem }
.t-1r   { top: 1rem }
.t-2r   { top: 2rem }
