/*! minions.css | MIT License | https://github.com/chantastic/minions.css */

.va-l  { vertical-align: baseline }
.va-tt { vertical-align: text-top }
.va-tb { vertical-align: text-bottom }
.va-m  { vertical-align: middle }
.va-t  { vertical-align: top }
.va-b  { vertical-align: bottom }
