.w-10   { width: 10% }
.w-20   { width: 20% }
.w-30   { width: 30% }
.w-40   { width: 40% }
.w-50   { width: 50% }
.w-60   { width: 60% }
.w-70   { width: 70% }
.w-80   { width: 80% }
.w-90   { width: 90% }
.w-100,
.w-full { width: 100% }
