/* minions.css | MIT License | https://github.com/chantastic/minions.css */

.zi-100 { z-index: 100 }
.zi-200 { z-index: 200 }
.zi-300 { z-index: 300 }
.zi-400 { z-index: 400 }
.zi-500 { z-index: 500 }
.zi-600 { z-index: 600 }
.zi-700 { z-index: 700 }
.zi-800 { z-index: 800 }
.zi-900 { z-index: 900 }
